
/* -------------------------------------------------------
   START OF alertBanner.scss
   ------------------------------------------------------- */

.coc-pl .cui.alertbox {
  width: 100%;
  background: #ffffff;
  /*global inline-alertbox style*/
  /*inline-alertbox style*/
}
.coc-pl .cui.alertbox .clear {
  clear: both;
}
.coc-pl .cui.alertbox * a {
  cursor: pointer;
}
.coc-pl .cui.alertbox .alertbanner-box {
  position: relative;
}
.coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header {
  position: relative;
  margin: 0;
}
.coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header::after {
  content: "";
  display: table;
  clear: both;
}
.coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-icon, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-header, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn {
  display: inline-block;
  float: left;
  position: relative;
}
.coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-icon::after, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-header::after, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn::after {
  content: "";
  display: table;
  clear: both;
}
.coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-icon .cicon {
  display: block;
  text-align: left;
}
.coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .closeBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .minusBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .expendBtn {
  background: transparent;
  text-decoration: none;
  height: 44px;
  height: 4.4rem;
  width: 44px;
  width: 4.4rem;
  border: none;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .closeBtn span, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .minusBtn span, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .expendBtn span {
  position: relative;
}
.coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .closeBtn:hover, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .minusBtn:hover, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .expendBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .minusBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .expendBtn {
  display: inline-block;
}
.coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header h2 {
  font-size: 16px !important;
  font-size: 1.6rem !important;
  margin: 0 !important;
  padding: 0;
  letter-spacing: normal;
  font-weight: 800;
  max-width: 100%;
}
.coc-pl .cui.alertbox.warning {
  border: 4px solid #c8102e;
}
.coc-pl .cui.alertbox.warning .alertbanner-box .alertbanner-box-header {
  background: #c8102e;
  color: #ffffff;
}
.coc-pl .cui.alertbox.warning .alertbanner-box .alertbanner-box-header h2, .coc-pl .cui.alertbox.warning .alertbanner-box .alertbanner-box-header .cicon {
  color: #ffffff;
}
.coc-pl .cui.alertbox.warning .closeBtn {
  display: none;
}
.coc-pl .cui.alertbox.warning .cta-button .cui.secondary-text {
  display: none;
}
.coc-pl .cui.alertbox.caution {
  border: 4px solid #F2A900;
}
.coc-pl .cui.alertbox.caution .alertbanner-box .alertbanner-box-header {
  background: #F2A900;
  color: #333333;
}
.coc-pl .cui.alertbox.caution .alertbanner-box .alertbanner-box-header h2, .coc-pl .cui.alertbox.caution .alertbanner-box .alertbanner-box-header .cicon, .coc-pl .cui.alertbox.caution .alertbanner-box .alertbanner-box-header .closeBtn, .coc-pl .cui.alertbox.caution .alertbanner-box .alertbanner-box-header .alert-toggleBtn button span, .coc-pl .cui.alertbox.caution .alertbanner-box .alertbanner-box-header .alert-toggleBtn .minusBtn span, .coc-pl .cui.alertbox.caution .alertbanner-box .alertbanner-box-header .alert-toggleBtn .expendBtn span {
  color: #333333;
}
.coc-pl .cui.alertbox.caution .alertbanner-box .alertbanner-box-header .alert-toggleBtn .minusBtn, .coc-pl .cui.alertbox.caution .alertbanner-box .alertbanner-box-header .alert-toggleBtn .expendBtn {
  text-decoration: none;
}
.coc-pl .cui.alertbox.information {
  border: 4px solid #0057B8;
}
.coc-pl .cui.alertbox.information .alertbanner-box .alertbanner-box-header {
  background: #0057B8;
  color: #ffffff;
}
.coc-pl .cui.alertbox.information .alertbanner-box .alertbanner-box-header h2, .coc-pl .cui.alertbox.information .alertbanner-box .alertbanner-box-header .cicon {
  color: #ffffff;
}
.coc-pl .cui.alertbox.success {
  border: 4px solid #009639;
}
.coc-pl .cui.alertbox.success .alertbanner-box .alertbanner-box-header {
  background: #009639;
  color: #ffffff;
}
.coc-pl .cui.alertbox.success .alertbanner-box .alertbanner-box-header h2, .coc-pl .cui.alertbox.success .alertbanner-box .alertbanner-box-header .cicon {
  color: #ffffff;
}
.coc-pl .cui.alertbox.miscellaneous {
  border: 4px solid #4b4f55;
}
.coc-pl .cui.alertbox.miscellaneous .alertbanner-box .alertbanner-box-header {
  background: #4b4f55;
  color: #ffffff;
}
.coc-pl .cui.alertbox.miscellaneous .alertbanner-box .alertbanner-box-header h2, .coc-pl .cui.alertbox.miscellaneous .alertbanner-box .alertbanner-box-header .cicon {
  color: #ffffff;
}
.coc-pl .cui.alertbox .alertbanner-box-contents {
  text-align: left;
}
.coc-pl .cui.alertbox .alertbanner-box-contents p {
  display: inline;
  max-width: none !important;
}
.coc-pl .cui.alertbox.global-inline-alertbox.inline-alertbox {
  background: #f6f6f6;
  display: inline-block;
}
.coc-pl .cui.alertbox.global-inline-alertbox.inline-alertbox .alertbanner-box .alert-icon {
  margin-top: 9px;
  margin-top: 0.9rem;
}
.coc-pl .cui.alertbox.global-inline-alertbox.inline-alertbox .alertbanner-box .alertbanner-box-contents {
  padding: 12px;
  padding: 1.2rem;
}
.coc-pl .cui.alertbox.global-inline-alertbox.inline-alertbox .alertbanner-box .alertbanner-box-contents h2 {
  margin-bottom: 0;
  padding-top: 0;
  font-weight: 400;
  font-size: 14px !important;
  font-size: 1.4rem !important;
  color: #000000;
}
.coc-pl .cui.alertbox.global-inline-alertbox.inline-alertbox .alertbanner-box .alertbanner-box-contents h2 .cta-btn-global-alert-banner {
  font-weight: 400;
}
.coc-pl .cui.alertbox.inline-alertbox .alertbanner-box .alert-icon {
  width: 36px;
  width: 3.6rem;
  height: auto;
  margin-left: -36px;
  margin-left: -3.6rem;
  margin-top: 18px;
  margin-top: 1.8rem;
  padding-top: 0;
  float: left;
  color: #ffffff;
  text-align: center;
}
.coc-pl .cui.alertbox.inline-alertbox .alertbanner-box .alertbanner-box-contents {
  max-width: none;
  padding: 18px;
  padding: 1.8rem;
  width: 100%;
  float: left;
}
.coc-pl .cui.alertbox.inline-alertbox .alertbanner-box .alertbanner-box-contents h2 {
  margin-top: 0;
  font-size: 16px !important;
  font-size: 1.6rem !important;
  font-weight: 800;
  padding-top: 0;
}
.coc-pl .cui.alertbox.inline-alertbox .alertbanner-box .alertbanner-box-contents .decription-block .cta-button {
  display: block;
  width: 100%;
  float: none !important;
  text-align: left;
}
.coc-pl .cui.alertbox.inline-alertbox.warning {
  border-left: 36px solid #c8102e;
}
.coc-pl .cui.alertbox.inline-alertbox.warning .boldFont {
  color: #c8102e;
  text-transform: uppercase;
}
.coc-pl .cui.alertbox.inline-alertbox.warning .cicon {
  background: #c8102e;
}
.coc-pl .cui.alertbox.inline-alertbox.caution {
  border-left: 36px solid #F2A900;
}
.coc-pl .cui.alertbox.inline-alertbox.caution .boldFont {
  color: #333333;
  text-transform: uppercase;
}
.coc-pl .cui.alertbox.inline-alertbox.caution .cicon {
  background: #F2A900;
  color: #333333;
}
.coc-pl .cui.alertbox.inline-alertbox.information {
  border-left: 36px solid #0057B8;
}
.coc-pl .cui.alertbox.inline-alertbox.information .boldFont {
  color: #0057B8;
  text-transform: uppercase;
}
.coc-pl .cui.alertbox.inline-alertbox.information .cicon {
  background: #0057B8;
}
.coc-pl .cui.alertbox.inline-alertbox.success {
  border-left: 36px solid #009639;
}
.coc-pl .cui.alertbox.inline-alertbox.success .boldFont {
  color: #009639;
  text-transform: uppercase;
}
.coc-pl .cui.alertbox.inline-alertbox.success .cicon {
  background: #009639;
}
.coc-pl .cui.alertbox.inline-alertbox.miscellaneous {
  border-left: 36px solid #4b4f55;
}
.coc-pl .cui.alertbox.inline-alertbox.miscellaneous .boldFont {
  color: #4b4f55;
  text-transform: uppercase;
}
.coc-pl .cui.alertbox.inline-alertbox.miscellaneous .cicon {
  background: #4b4f55;
}
@media only screen and (min-width: 200px) {
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header {
    padding: 6px;
    padding: 0.6rem;
    max-height: none;
    min-height: 44px;
    min-height: 4.4rem;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-icon {
    width: 6%;
    padding: 3.6px 0;
    padding: 0.36rem 0;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-icon .cicon {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-header {
    width: 72%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-header h2 {
    padding: 0 6px;
    padding: 0 0.6rem;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn {
    width: 20%;
    padding-top: 0 !important;
    padding-right: 0 !important;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn {
    margin-top: -6px;
    margin-top: -0.6rem;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .closeBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn {
    float: right;
    /*@include rem(padding,12px);*/
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .closeBtn span, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn span {
    display: block;
    font-size: 0;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .closeBtn span.cicon-times, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .closeBtn span.cicon, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn span.cicon-times, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn span.cicon {
    font-size: 16px !important;
    width: 44px;
    height: 44px;
    text-align: center;
    padding-top: 12px;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .closeBtn .minusBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn .minusBtn {
    display: inline-block;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .closeBtn .expendBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn .expendBtn {
    display: none;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-contents {
    padding: 9px;
    padding: 0.9rem;
    width: 100%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-contents .img-icon-block img {
    display: none;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-contents .decription-block {
    width: 100%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-contents .decription-block img {
    display: none;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-contents .decription-block .cta-button {
    width: 100%;
    display: block;
    margin-top: 18px;
    margin-top: 1.8rem;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-contents .decription-block .cta-button .cui {
    height: auto;
    text-align: left;
    white-space: normal;
    line-height: 1.2;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-contents .cta-button {
    margin-top: 0 !important;
  }
  .coc-pl .cui.alertbox.miscellaneous .alertbanner-box .alertbanner-box-header .alert-icon {
    display: none;
  }
  .coc-pl .cui.alertbox.miscellaneous .alertbanner-box .alertbanner-box-header .alert-header {
    width: 80%;
  }
  .coc-pl .cui.alertbox.miscellaneous .alertbanner-box .alertbanner-box-header .alert-header h2 {
    padding-left: 0;
  }
  .coc-pl .cui.alertbox.miscellaneous .alertbanner-box .alertbanner-box-header .alert-closeBtn, .coc-pl .cui.alertbox.miscellaneous .alertbanner-box .alertbanner-box-header .alert-toggleBtn {
    width: 20%;
  }
}
@media only screen and (min-width: 320px) {
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-icon {
    width: 6%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-header {
    width: 81%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn {
    width: 13%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-contents .img-icon-block {
    display: block;
  }
}
@media only screen and (min-width: 544px) {
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header {
    padding: 12px;
    padding: 1.2rem;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-icon {
    width: 4%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-header {
    width: 86%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-header h2 {
    padding: 0 12px;
    padding: 0 1.2rem;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn {
    width: 10%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn {
    margin-top: -12px;
    margin-top: -1.2rem;
  }
  .coc-pl .cui.alertbox .alertbanner-box-contents .decription-block .cta-button .cui {
    height: inherit;
    white-space: nowrap;
  }
}
@media only screen and (min-width: 768px) {
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-icon {
    width: 3%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-header {
    width: 89%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn {
    width: 8%;
    text-align: right;
  }
}
@media only screen and (min-width: 992px) {
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header {
    padding: 12px;
    padding: 1.2rem;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-icon {
    width: 2%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-header {
    width: 84%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-header h2 {
    padding: 0 12px;
    padding: 0 1.2rem;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn {
    text-align: right;
    width: 14%;
    margin-top: -12px;
    margin-top: -1.2rem;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn .closeBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn .minusBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn .expendBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn .closeBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn .minusBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn .expendBtn {
    padding: 0 12px;
    width: auto !important;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn .closeBtn span, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn .minusBtn span, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn .expendBtn span, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn .closeBtn span, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn .minusBtn span, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn .expendBtn span {
    font-size: 16px;
    font-size: 1.6rem;
    vertical-align: middle;
    padding-left: 6px;
    padding-left: 0.6rem;
    color: #ffffff;
    display: inline-block;
    height: 44px;
    text-align: center;
    vertical-align: middle;
    padding-top: 9px;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn .closeBtn span.cicon-times, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn .closeBtn span.cicon, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn .minusBtn span.cicon-times, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn .minusBtn span.cicon, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn .expendBtn span.cicon-times, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn .expendBtn span.cicon, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn .closeBtn span.cicon-times, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn .closeBtn span.cicon, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn .minusBtn span.cicon-times, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn .minusBtn span.cicon, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn .expendBtn span.cicon-times, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn .expendBtn span.cicon {
    height: 44px;
    font-size: 16px !important;
    display: inline-block;
    width: auto;
    padding-top: 12px;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-contents {
    padding: 9px;
    padding: 0.9rem;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-contents .decription-block {
    display: inline-block;
    vertical-align: middle;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-contents .decription-block img {
    display: inline;
    width: 15%;
    position: relative;
    top: 20px;
    max-width: 150px;
    max-height: 50px;
    margin-right: 18px;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-contents .decription-block p.withImageIcon {
    display: inline;
    width: 85%;
    margin-left: 0;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-contents .decription-block p {
    display: inline-block;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-contents .decription-block .cta-button {
    display: inline-block;
    text-align: right;
    margin-top: 0 !important;
    float: right;
    width: 80%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-contents .decription-block .cta-button::after {
    clear: both;
  }
}
@media only screen and (min-width: 1200px) {
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-icon {
    width: 1%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-header {
    width: 87%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn {
    width: 12%;
    text-align: right;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-contents {
    padding: 9px;
    padding: 0.9rem;
    max-width: 992px;
    max-width: 99.2rem;
    margin: 0 auto;
  }
  .coc-pl .cui.alertbox.global-inline-alertbox.inline-alertbox .alertbanner-box .alertbanner-box-contents {
    max-width: 992px;
    max-width: 99.2rem;
  }
}
@media only screen and (min-width: 1680px) {
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-icon {
    width: 1%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-header {
    width: 87%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-closeBtn, .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-header .alert-toggleBtn {
    width: 12%;
  }
  .coc-pl .cui.alertbox .alertbanner-box .alertbanner-box-contents {
    padding: 12px;
    padding: 1.2rem;
  }
}

/*coc-pl end*/