
/* -------------------------------------------------------
   START OF modalWindow.scss
   ------------------------------------------------------- */

.coc-pl .cui.blocker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 1;
  padding: 10% 20px 10% 20px;
  box-sizing: border-box;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.coc-pl .cui.blocker:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 0;
}
.coc-pl .cui.blocker.behind {
  background-color: transparent;
}
.coc-pl .cui.modalWindow {
  z-index: 5000;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 20;
  max-width: 1000px;
  box-sizing: border-box;
  width: 90%;
  background: #f6f6f6;
  padding: 0;
  text-align: left;
}
.coc-pl .cui.modalWindow a.close-modal {
  display: none;
}
.coc-pl .cui.modalWindow .cui.btn-md.primary-text {
  float: right;
  width: initial;
}
.coc-pl .cui.modalWindow .cui.btn-md.primary-text .cicon-times {
  vertical-align: middle;
  margin-left: 6px;
}
.coc-pl .cui.modalWindow .cui.btn-md.primary-text:hover {
  color: #333333;
  background: #ffffff;
}
.coc-pl .cui.modalWindow .modalbody {
  background: #f6f6f6;
}
@media only screen and (min-width: 200px) {
  .coc-pl .cui.current {
    padding: 0;
    z-index: 5000;
  }
  .coc-pl .cui.blocker:before {
    height: initial;
  }
  .coc-pl .cui.modalWindow {
    position: absolute;
    background: #f6f6f6;
    width: 100%;
    height: 100%;
  }
  .coc-pl .cui.modalWindow .cui.btn-md.primary-text {
    margin: -33px 0 0 36px;
    margin: -3.3rem 0 0 3.6rem;
  }
  .coc-pl .cui.modalWindow .modalbody {
    padding: 36px 9px;
    padding: 3.6rem 0.9rem;
    margin: 0 auto;
    max-width: none;
    width: 100%;
    height: 100%;
    min-height: 500px;
  }
  .coc-pl .cui.modalWindow .modalbody #cocis-search-field-type-and-submit {
    display: block;
    margin: 66px 0 0 0;
    padding-right: 18px;
    padding-right: 1.8rem;
    padding-left: 18px;
    padding-left: 1.8rem;
    clear: both;
    top: 0 !important;
  }
  .coc-pl .cui.modalWindow .modalbody #cocis-search-field-type-and-submit input, .coc-pl .cui.modalWindow .modalbody #cocis-search-field-type-and-submit #ctl00_PlaceHolderSearchArea_ctl00_txtSearch {
    box-shadow: none !important;
    margin-left: 0;
  }
  .coc-pl .cui.modalWindow .modalbody #cocis-search-field-type-and-submit .cocis-search-submit, .coc-pl .cui.modalWindow .modalbody #cocis-search-field-type-and-submit #cocis-search-submit {
    left: auto;
  }
}
@media only screen and (min-width: 768px) {
  .coc-pl .cui.modalWindow .modalbody #cocis-search-field-type-and-submit .cocis-search-submit, .coc-pl .cui.modalWindow .modalbody #cocis-search-field-type-and-submit #cocis-search-submit {
    left: 480px !important;
    left: 48rem;
  }
}
@media only screen and (min-width: 992px) {
  .coc-pl .cui.blocker {
    padding: 10% 20px 10% 20px !important;
  }
  .coc-pl .cui.modalWindow {
    position: relative !important;
    width: 91% !important;
    max-height: 500px;
    overflow: auto;
  }
  .coc-pl .cui.modalWindow .cui.btn-md.primary-text {
    margin: -36px -36px 6px 36px;
    margin: -3.6rem -3.6rem 0.6rem 3.6rem;
  }
  .coc-pl .cui.modalWindow .modalbody {
    width: 100% !important;
    position: absolute !important;
    top: 0;
    left: inherit;
    padding: 36px;
    padding: 3.6rem;
  }
  .coc-pl .cui.modalWindow .modalbody .cocis-search-field-type-and-submit {
    position: relative;
    left: 0;
  }
}