/* -------------------------------------------------------
   START OF footer.scss
   ------------------------------------------------------- */
.coc-pl .coc-footer.cui {
  width: 100%;
  background: #333333;
  color: #f6f6f6;
  font-size: 16px;
  font-size: 1.6rem; }
  .coc-pl .coc-footer.cui h3, .coc-pl .coc-footer.cui p {
    color: #c9cacc;
    font-size: 16px;
    font-size: 1.6rem; }
  .coc-pl .coc-footer.cui p.h3 {
    font-weight: normal;
    font-size: 20px;
    font-size: 2rem;
    text-align: left; }
  .coc-pl .coc-footer.cui #google_translate_element.cui {
    font-size: 14px;
    font-size: 1.4rem;
    display: block; }
    .coc-pl .coc-footer.cui #google_translate_element.cui label {
      font-size: 0; }
    .coc-pl .coc-footer.cui #google_translate_element.cui .goog-te-gadget {
      color: #f6f6f6; }
    .coc-pl .coc-footer.cui #google_translate_element.cui div, .coc-pl .coc-footer.cui #google_translate_element.cui select, .coc-pl .coc-footer.cui #google_translate_element.cui img, .coc-pl .coc-footer.cui #google_translate_element.cui p {
      display: inline-block;
      font-size: 14px !important; }
    .coc-pl .coc-footer.cui #google_translate_element.cui select {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      /*-webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;*/
      height: 30px;
      height: 3rem;
      width: 170px;
      width: 17rem;
      border: 2px solid #5b6770;
      border: 2px solid rgba(91, 103, 112, 0.8);
      background: url(../../../img/sort.svg) 96%/10% no-repeat #eee;
      color: #333333;
      padding: 0 9px;
      text-align: left;
      margin-right: 9px; }
      .coc-pl .coc-footer.cui #google_translate_element.cui select option {
        font-size: 14px;
        font-size: 1.4rem; }
      .coc-pl .coc-footer.cui #google_translate_element.cui select:focus {
        color: #333333; }
    .coc-pl .coc-footer.cui #google_translate_element.cui a {
      color: #f6f6f6;
      text-decoration: none;
      font-size: 16px;
      font-size: 1.6rem; }
      .coc-pl .coc-footer.cui #google_translate_element.cui a:hover {
        text-decoration: underline; }
    .coc-pl .coc-footer.cui #google_translate_element.cui img {
      width: 54px !important;
      width: 5.4rem !important;
      height: auto !important;
      vertical-align: middle; }
  .coc-pl .coc-footer.cui .footer-group {
    max-width: 992px;
    max-width: 99.2rem;
    margin: 0 auto;
    min-height: 10px;
    font-size: 16px;
    font-size: 1.6rem; }
    .coc-pl .coc-footer.cui .footer-group .footerOtherlinks a {
      font-size: 16px;
      font-size: 1.6rem; }
    .coc-pl .coc-footer.cui .footer-group .footerOtherlinks ul {
      margin: 0; }
      .coc-pl .coc-footer.cui .footer-group .footerOtherlinks ul.socialLinkSeclist {
        padding: 0 15px;
        padding: 0 1.5rem; }
      .coc-pl .coc-footer.cui .footer-group .footerOtherlinks ul li {
        line-height: 2;
        list-style-type: none;
        text-align: left; }
        .coc-pl .coc-footer.cui .footer-group .footerOtherlinks ul li a {
          color: #f6f6f6;
          text-decoration: none;
          font-size: 16px;
          font-size: 1.6rem; }
          .coc-pl .coc-footer.cui .footer-group .footerOtherlinks ul li a:hover {
            text-decoration: underline; }
          .coc-pl .coc-footer.cui .footer-group .footerOtherlinks ul li a:visited {
            color: #a5a7aa; }
    .coc-pl .coc-footer.cui .footer-group .feedback {
      background: transparent;
      border: 1px solid #6f7277;
      padding: 36px;
      padding: 3.6rem; }
      .coc-pl .coc-footer.cui .footer-group .feedback p {
        color: #f6f6f6; }
      .coc-pl .coc-footer.cui .footer-group .feedback div > p {
        margin-top: 0; }
      .coc-pl .coc-footer.cui .footer-group .feedback div {
        padding: 0;
        margin: 0; }
    .coc-pl .coc-footer.cui .footer-group .footerlinks ul {
      margin: 0 auto;
      text-align: center; }
      .coc-pl .coc-footer.cui .footer-group .footerlinks ul li {
        text-align: left;
        list-style-type: none;
        display: inline-block;
        padding: 0 9px 0 3px;
        padding: 0 0.9rem 0 0.3rem;
        line-height: 1;
        border-right: 2px solid #f6f6f6;
        font-weight: 400; }
        .coc-pl .coc-footer.cui .footer-group .footerlinks ul li:last-child {
          border-right: none; }
        .coc-pl .coc-footer.cui .footer-group .footerlinks ul li a {
          color: #f6f6f6;
          text-decoration: none;
          font-size: 16px;
          font-size: 1.6rem; }
          .coc-pl .coc-footer.cui .footer-group .footerlinks ul li a:hover {
            text-decoration: underline; }
    .coc-pl .coc-footer.cui .footer-group .footerCopyright p {
      text-align: center;
      margin: 0 auto; }
@media only screen and (min-width: 200px) {
  .coc-pl .coc-footer.cui .footer-group {
    padding: 0 0 18px;
    padding: 0 0 1.8rem; }
    .coc-pl .coc-footer.cui .footer-group #google_translate_element.cui {
      padding: 18px 18px 18px 18px;
      padding: 1.8rem 1.8rem 1.8rem 1.8rem;
      text-align: left; }
      .coc-pl .coc-footer.cui .footer-group #google_translate_element.cui .goog-te-gadget {
        text-align: left; }
        .coc-pl .coc-footer.cui .footer-group #google_translate_element.cui .goog-te-gadget > div {
          display: block !important; }
      .coc-pl .coc-footer.cui .footer-group #google_translate_element.cui .targetLanguage {
        display: block;
        margin-bottom: 9px;
        margin-bottom: 0.9rem; }
    .coc-pl .coc-footer.cui .footer-group .footerOtherlinks {
      margin: 0;
      padding: 9px;
      padding: 0.9rem;
      border-top: 1px solid #6f7277; }
      .coc-pl .coc-footer.cui .footer-group .footerOtherlinks.borderNone {
        border-top: none; }
      .coc-pl .coc-footer.cui .footer-group .footerOtherlinks .socialLinks {
        margin-top: 72px;
        margin-top: 7.2rem; }
        .coc-pl .coc-footer.cui .footer-group .footerOtherlinks .socialLinks ul > span {
          padding-left: 0; }
        .coc-pl .coc-footer.cui .footer-group .footerOtherlinks .socialLinks .socialLinkSeclist {
          padding-left: 15px !important;
          padding-left: 1.5rem !important;
          display: block; }
    .coc-pl .coc-footer.cui .footer-group .feedback {
      text-align: center;
      margin-top: 36px;
      margin-top: 3.6rem;
      padding: 36px 9px 36px 9px;
      /*padding:$padbase/4;*/
      border-top: 1px solid #6f7277;
      border-bottom: none;
      border-left: none;
      border-right: none; }
      .coc-pl .coc-footer.cui .footer-group .feedback p {
        max-width: none; }
      .coc-pl .coc-footer.cui .footer-group .feedback button {
        float: none; }
    .coc-pl .coc-footer.cui .footer-group .footerlinks {
      padding: 9px;
      padding: 0.9rem; }
    .coc-pl .coc-footer.cui .footer-group .footerCopyright {
      padding: 18px;
      padding: 1.8rem; }
      .coc-pl .coc-footer.cui .footer-group .footerCopyright p {
        font-size: 14px;
        font-size: 1.4rem; } }
@media only screen and (min-width: 320px) {
  .coc-pl .coc-footer.cui .footer-group #google_translate_element.cui {
    padding: 18px 18px 18px 18px;
    padding: 1.8rem 1.8rem 1.8rem 1.8rem; }
  .coc-pl .coc-footer.cui .footer-group .footerOtherlinks.borderNone {
    margin-bottom: 36px;
    margin-bottom: 3.6rem; } }
@media only screen and (min-width: 544px) {
  .coc-pl .coc-footer.cui .footer-group #google_translate_element.cui {
    padding: 18px 18px 18px 18px;
    padding: 1.8rem 1.8rem 1.8rem 1.8rem; }
    .coc-pl .coc-footer.cui .footer-group #google_translate_element.cui .goog-te-gadget {
      text-align: left; }
      .coc-pl .coc-footer.cui .footer-group #google_translate_element.cui .goog-te-gadget > div {
        display: inline-block !important; }
    .coc-pl .coc-footer.cui .footer-group #google_translate_element.cui .targetLanguage {
      display: inline-block;
      margin-bottom: 0; } }
@media only screen and (min-width: 768px) {
  .coc-pl .coc-footer.cui .footer-group {
    padding: 0 0 9px 0;
    padding: 0 0 0.9rem 0; }
    .coc-pl .coc-footer.cui .footer-group #google_translate_element.cui {
      padding: 18px;
      padding: 1.8rem; }
    .coc-pl .coc-footer.cui .footer-group .footerOtherlinks {
      margin: 0;
      padding: 36px 0;
      padding: 3.6rem 0; }
      .coc-pl .coc-footer.cui .footer-group .footerOtherlinks.borderNone {
        margin-bottom: 0; }
      .coc-pl .coc-footer.cui .footer-group .footerOtherlinks .row {
        padding-top: 0; }
      .coc-pl .coc-footer.cui .footer-group .footerOtherlinks .socialLinks {
        margin: 0; }
        .coc-pl .coc-footer.cui .footer-group .footerOtherlinks .socialLinks .socialLinkSeclist {
          padding-left: 0px !important; }
    .coc-pl .coc-footer.cui .footer-group .feedback {
      margin: 0;
      padding: 18px !important;
      border: 1px solid #6f7277;
      text-align: left; }
      .coc-pl .coc-footer.cui .footer-group .feedback p.h3 {
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: 600; }
      .coc-pl .coc-footer.cui .footer-group .feedback button {
        vertical-align: middle; }
    .coc-pl .coc-footer.cui .footer-group .footerlinks {
      margin-top: 72px;
      margin-top: 7.2rem; }
    .coc-pl .coc-footer.cui .footer-group .footerCopyright p {
      font-size: 12px;
      font-size: 1.2rem; } }
@media only screen and (min-width: 992px) {
  .coc-pl .coc-footer.cui .footer-group {
    padding: 0 0 108px 0;
    padding: 0 0 10.8rem 0; }
    .coc-pl .coc-footer.cui .footer-group #google_translate_element.cui {
      padding: 36px 18px;
      padding: 3.6rem 1.8rem; }
    .coc-pl .coc-footer.cui .footer-group .feedback button {
      margin: 0 12%; } }
@media only screen and (min-width: 1200px) {
  .coc-pl .coc-footer.cui .footer-group {
    padding: 72px 0;
    padding: 7.2rem 0; } }
@media only screen and (min-width: 1680px) {
  .coc-pl .coc-footer.cui .footer-group {
    padding: 108px 0;
    padding: 10.8rem 0; } }

/*Footer end*/
.coc-pl {
  /* -------------------------------------------------------
     START OF BUTTONS _buttons.scss
     ------------------------------------------------------- */ }
  .coc-pl button.cui:focus {
    -webkit-box-shadow: 0px 0px 2px 2px #60bbfe, -4px 7px 11px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 2px 2px #60bbfe, -4px 7px 11px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 2px 2px #60bbfe, -4px 7px 11px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 3px 3px #60bbfe;
    outline-style: none;
    /* 1st */
    outline: 2px solid #0394FF \9;
    /* 2nd -- IE8 hack  */ }
  .coc-pl .cui[class*="btn"] {
    display: inline-block;
    margin: 4px 2px;
    height: 40px;
    height: 4rem;
    color: #606060;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1;
    font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 12px 18px;
    padding: 1.2rem 1.8rem;
    border: 2px solid #a5a7aa;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    vertical-align: top;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .coc-pl .cui[class*="btn"]:hover {
      /*@include prefix(box-shadow, 0px 7px 11px rgba(0,0,0,0.15), webkit moz);*/
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      outline-style: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -box-shadow: none; }
    .coc-pl .cui[class*="btn"]:focus {
      -webkit-box-shadow: 0px 0px 2px 2px #60bbfe, -4px 7px 11px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0px 0px 2px 2px #60bbfe, -4px 7px 11px rgba(0, 0, 0, 0.35);
      box-shadow: 0px 0px 2px 2px #60bbfe, -4px 7px 11px rgba(0, 0, 0, 0.35);
      box-shadow: 0px 0px 3px 3px #60bbfe;
      outline-style: none;
      /* 1st */
      outline: 2px solid #0394FF \9;
      /* 2nd -- IE8 hack  */ }
    .coc-pl .cui[class*="btn"]:active {
      background: #ebebeb;
      -webkit-transition: all 0s ease;
      -moz-transition: all 0s ease;
      -ms-transition: all 0s ease;
      -o-transition: all 0s ease;
      transition: all 0s ease;
      outline-style: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -box-shadow: none; }
    .coc-pl .cui[class*="btn"].primary {
      background: #c8102e;
      /*@include linear-gradient($coc-main, darken($coc-main,6) );*/
      color: #fff;
      border: 2px solid #c8102e;
      border: 2px solid rgba(200, 16, 46, 0.8); }
      .coc-pl .cui[class*="btn"].primary:hover {
        background: #c8102e;
        background: rgba(200, 16, 46, 0.8);
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
      .coc-pl .cui[class*="btn"].primary:active {
        background: #c8102e;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
    .coc-pl .cui[class*="btn"].primary-fluid {
      background: #c8102e;
      /*@include linear-gradient($coc-main, darken($coc-main,6) );*/
      color: #fff;
      border: 2px solid #c8102e;
      border: 2px solid rgba(200, 16, 46, 0.8);
      width: 100%; }
      .coc-pl .cui[class*="btn"].primary-fluid:hover {
        background: #c8102e;
        background: rgba(200, 16, 46, 0.8);
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
      .coc-pl .cui[class*="btn"].primary-fluid:active {
        background: #c8102e;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
    .coc-pl .cui[class*="btn"].primary-ghost {
      background: transparent;
      /*@include linear-gradient($coc-main, darken($coc-main,6) );*/
      color: #c8102e;
      border: 2px solid #c8102e; }
      .coc-pl .cui[class*="btn"].primary-ghost:hover {
        background: rgba(200, 16, 46, 0.8);
        color: #fff;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
      .coc-pl .cui[class*="btn"].primary-ghost:active {
        background: #c8102e;
        color: #fff;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
    .coc-pl .cui[class*="btn"].primary-ghost-fluid {
      background: transparent;
      /*@include linear-gradient($coc-main, darken($coc-main,6) );*/
      color: #c8102e;
      border: 2px solid #c8102e;
      width: 100%; }
      .coc-pl .cui[class*="btn"].primary-ghost-fluid:hover {
        background: rgba(200, 16, 46, 0.8);
        color: #fff;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
      .coc-pl .cui[class*="btn"].primary-ghost-fluid:active {
        background: #c8102e;
        color: #fff;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
    .coc-pl .cui[class*="btn"].secondary-ghost {
      background: rgba(0, 0, 0, 0.1);
      background: transparent;
      color: #333333;
      border: 2px solid #4b4f55;
      border: 2px solid rgba(75, 79, 85, 0.8); }
      .coc-pl .cui[class*="btn"].secondary-ghost:hover {
        background: #4b4f55;
        color: #ededee;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
      .coc-pl .cui[class*="btn"].secondary-ghost:active {
        background: #7f7f7f;
        color: #ededee;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
    .coc-pl .cui[class*="btn"].secondary-ghost-fluid {
      background: rgba(0, 0, 0, 0.1);
      background: transparent;
      /*@include linear-gradient($coc-main, darken($coc-main,6) );*/
      color: #333333;
      border: 2px solid #4b4f55;
      border: 2px solid rgba(75, 79, 85, 0.8);
      width: 100%; }
      .coc-pl .cui[class*="btn"].secondary-ghost-fluid:hover {
        background: #4b4f55;
        color: #ededee;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
      .coc-pl .cui[class*="btn"].secondary-ghost-fluid:active {
        background: #7f7f7f;
        color: #ededee;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
    .coc-pl .cui[class*="btn"].primary-solid {
      background: #ffffff;
      /*@include linear-gradient($coc-main, darken($coc-main,6) );*/
      color: #c8102e;
      border: 2px solid #c8102e; }
      .coc-pl .cui[class*="btn"].primary-solid:hover {
        background: rgba(200, 16, 46, 0.8);
        color: #fff;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
      .coc-pl .cui[class*="btn"].primary-solid:active {
        background: #c8102e;
        color: #fff;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
    .coc-pl .cui[class*="btn"].primary-solid-fluid {
      background: #ffffff;
      /*@include linear-gradient($coc-main, darken($coc-main,6) );*/
      color: #c8102e;
      border: 2px solid #c8102e;
      width: 100%; }
      .coc-pl .cui[class*="btn"].primary-solid-fluid:hover {
        background: rgba(200, 16, 46, 0.8);
        color: #fff;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
      .coc-pl .cui[class*="btn"].primary-solid-fluid:active {
        background: #c8102e;
        color: #fff;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
    .coc-pl .cui[class*="btn"].secondary-solid {
      background: #ffffff;
      color: #333333;
      border: 2px solid #4b4f55;
      border: 2px solid rgba(75, 79, 85, 0.8); }
      .coc-pl .cui[class*="btn"].secondary-solid:hover {
        background: #4b4f55;
        color: #ededee;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
      .coc-pl .cui[class*="btn"].secondary-solid:active {
        background: #7f7f7f;
        color: #ededee;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
    .coc-pl .cui[class*="btn"].secondary-solid-fluid {
      background: #ffffff;
      /*@include linear-gradient($coc-main, darken($coc-main,6) );*/
      color: #333333;
      border: 2px solid #4b4f55;
      border: 2px solid rgba(75, 79, 85, 0.8);
      width: 100%; }
      .coc-pl .cui[class*="btn"].secondary-solid-fluid:hover {
        background: #4b4f55;
        color: #ededee;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
      .coc-pl .cui[class*="btn"].secondary-solid-fluid:active {
        background: #7f7f7f;
        color: #ededee;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
    .coc-pl .cui[class*="btn"].disabled, .coc-pl .cui[class*="btn"][disabled] {
      background: #dbdcdd;
      /*background: rgba(222, 225, 226 ,0.9);*/
      /*color: $coc-secondary-4L;*/
      color: rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000 endColorstr=#000000);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000000, endColorstr=#000000)";
      cursor: not-allowed; }
    .coc-pl .cui[class*="btn"].disabled-fluid, .coc-pl .cui[class*="btn"][disabled] {
      background: #dbdcdd;
      /*background: rgba(222, 225, 226 ,0.9);*/
      /*color: $coc-secondary-4L;*/
      color: rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000 endColorstr=#000000);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000000, endColorstr=#000000)";
      cursor: not-allowed; }
    .coc-pl .cui[class*="btn"].disabled-fluid {
      width: 100%; }
    .coc-pl .cui[class*="btn"].success {
      background: #4C8C2B;
      /*@include linear-gradient($success, darken($success,6) );*/
      color: #fff; }
      .coc-pl .cui[class*="btn"].success:active {
        background: #3b6d21;
        outline-style: none; }
    .coc-pl .cui[class*="btn"].warning {
      background: #E57200;
      /*@include linear-gradient($warning, darken($warning,4) );*/
      color: #fff; }
      .coc-pl .cui[class*="btn"].warning:active {
        background: #bc5e00;
        outline-style: none; }
    .coc-pl .cui[class*="btn"].danger {
      background: #c8102e;
      /*@include linear-gradient($danger, darken($danger,7) );*/
      color: #fff; }
      .coc-pl .cui[class*="btn"].danger:active {
        background: #a20d25;
        outline-style: none; }
    .coc-pl .cui[class*="btn"].primary-text {
      box-shadow: none;
      background: transparent;
      border: 2px solid transparent;
      padding-left: 10px;
      padding-left: 1rem;
      padding-right: 10px;
      padding-right: 1rem;
      color: #c8102e; }
      .coc-pl .cui[class*="btn"].primary-text:hover {
        background: #ededee;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
      .coc-pl .cui[class*="btn"].primary-text:focus {
        /*@include prefix( box-shadow, 0px 0px 5px 2px $btn-blue-glow, webkit moz);
        Using the global focus class with the red glowing border
        */
        background: #ededee;
        -webkit-box-shadow: 0px 0px 2px 2px #60bbfe, -4px 7px 11px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 0px 2px 2px #60bbfe, -4px 7px 11px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 0px 2px 2px #60bbfe, -4px 7px 11px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 0px 3px 3px #60bbfe;
        outline-style: none;
        /* 1st */
        outline: 2px solid #0394FF \9;
        /* 2nd -- IE8 hack  */
        /*outline-style: 1px solid green;*/ }
      .coc-pl .cui[class*="btn"].primary-text:active {
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
      .coc-pl .cui[class*="btn"].primary-text.disabled, .coc-pl .cui[class*="btn"].primary-text[disabled] {
        color: rgba(0, 0, 0, 0.25);
        background: transparent;
        /*@include prefix( box-shadow, none, webkit moz);*/ }
    .coc-pl .cui[class*="btn"].secondary-text {
      text-decoration: underline;
      box-shadow: none;
      background: transparent;
      border: 1px solid transparent;
      padding-left: 10px;
      padding-left: 1rem;
      padding-right: 10px;
      padding-right: 1rem;
      color: #333333; }
      .coc-pl .cui[class*="btn"].secondary-text:hover {
        background: #ededee;
        /*background: rgba(0,0,0,0.05);*/
        background: #ededee;
        text-decoration: none;
        outline-style: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
      .coc-pl .cui[class*="btn"].secondary-text:focus {
        /*@include prefix( box-shadow, 0px 0px 5px 2px $btn-blue-glow, webkit moz);
        Using the global focus class with the red glowing border
        */
        background: #ededee;
        text-decoration: none;
        -webkit-box-shadow: 0px 0px 2px 2px #60bbfe, -4px 7px 11px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 0px 2px 2px #60bbfe, -4px 7px 11px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 0px 2px 2px #60bbfe, -4px 7px 11px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 0px 3px 3px #60bbfe;
        outline-style: none;
        /* 1st */
        outline: 2px solid #0394FF \9;
        /* 2nd -- IE8 hack  */ }
      .coc-pl .cui[class*="btn"].secondary-text:active {
        outline-style: none;
        text-decoration: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -box-shadow: none; }
      .coc-pl .cui[class*="btn"].secondary-text.disabled, .coc-pl .cui[class*="btn"].secondary-text[disabled] {
        color: rgba(0, 0, 0, 0.25);
        background: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
    .coc-pl .cui[class*="btn"] [class*="icon"].left {
      margin: 0 6px 0 0;
      margin: 0 0.6rem 0 0; }
    .coc-pl .cui[class*="btn"] [class*="icon"].right {
      margin: 0 0 0 6px;
      margin: 0 0 0 0.6rem; }
    .coc-pl .cui[class*="btn"].block {
      width: 100%; }
  .coc-pl button.cui.btn {
    /*outline:0;
    remove the default outline on the button element -- cui.btn uses a box-shadow instead for :focus*/ }
  .coc-pl .cui.btn-sm {
    padding: 5px 10.5px;
    padding: 0.5rem 1.05rem;
    font-size: 14px;
    font-size: 1.4rem;
    height: 30px;
    height: 3rem;
    font-weight: 600; }
    .coc-pl .cui.btn-sm:hover {
      outline-style: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -box-shadow: none; }
    .coc-pl .cui.btn-sm:active {
      outline-style: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -box-shadow: none; }
  .coc-pl .cui.btn-md {
    padding: 8px 15px;
    padding: 0.8rem 1.5rem;
    font-size: 16px;
    font-size: 1.6rem;
    height: 37px;
    height: 3.7rem;
    font-weight: 600; }
    .coc-pl .cui.btn-md:hover {
      outline-style: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -box-shadow: none; }
    .coc-pl .cui.btn-md:active {
      outline-style: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -box-shadow: none; }
  .coc-pl .cui.btn-lg {
    padding: 11px 27px;
    padding: 1.1rem 2.7rem;
    font-size: 20px;
    font-size: 2rem;
    height: 47px;
    height: 4.7rem;
    font-weight: 600; }
    .coc-pl .cui.btn-lg:hover {
      outline-style: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -box-shadow: none; }
    .coc-pl .cui.btn-lg:active {
      outline-style: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -box-shadow: none; }
  .coc-pl .cui.btn-xl {
    padding: 11px 27px;
    padding: 1.1rem 2.7rem;
    font-size: 22px;
    font-size: 2.2rem;
    height: 55px;
    height: 5.5rem;
    font-weight: 600; }
    .coc-pl .cui.btn-xl:hover {
      outline-style: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -box-shadow: none; }
    .coc-pl .cui.btn-xl:active {
      outline-style: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -box-shadow: none; }
  .coc-pl .cui.icon-only {
    padding: 7px 0;
    padding: 0.7rem 0;
    font-size: 0;
    height: 40px;
    height: 4rem;
    width: 40px;
    width: 4rem; }
    .coc-pl .cui.icon-only span.cicon {
      font-size: 24px !important;
      display: inline; }
    .coc-pl .cui.icon-only:focus {
      outline-style: none; }
    .coc-pl .cui.icon-only:active {
      outline-style: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -box-shadow: none; }
    .coc-pl .cui.icon-only.btn-sm {
      padding: 5px 0;
      padding: 0.5rem 0;
      font-size: 0;
      height: 28px;
      height: 2.8rem;
      width: 28px;
      width: 2.8rem; }
      .coc-pl .cui.icon-only.btn-sm span.cicon {
        font-size: 16px !important;
        display: inline; }
    .coc-pl .cui.icon-only.btn-md {
      /* Defaults to .cui.icon-only class */ }
    .coc-pl .cui.icon-only.btn-lg {
      padding: 10px 0;
      padding: 1rem 0;
      font-size: 0;
      height: 50px;
      height: 5rem;
      width: 50px;
      width: 5rem; }
      .coc-pl .cui.icon-only.btn-lg span.cicon {
        font-size: 30px !important;
        display: inline; }
  .coc-pl .cui.btn-mega {
    padding: 16px;
    padding: 1.6rem;
    font-size: 16px;
    font-size: 1.6rem;
    /*@include rem(width, 160px);*/
    height: 160px;
    height: 16rem;
    line-height: 1.5; }
    .coc-pl .cui.btn-mega [class*="icon"] {
      display: block;
      font-size: 400%; }
      .coc-pl .cui.btn-mega [class*="icon"].top {
        margin: 0 0 10px;
        margin: 0 0 1rem; }
      .coc-pl .cui.btn-mega [class*="icon"].bottom {
        margin: 10px 0 0;
        margin: 1rem 0 0; }
    .coc-pl .cui.btn-mega:hover {
      background: #c8102e;
      background: rgba(200, 16, 46, 0.8);
      outline-style: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -box-shadow: none; }
    .coc-pl .cui.btn-mega:active {
      background: #c8102e;
      outline-style: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -box-shadow: none; }
  .coc-pl .ie8 .cui[class*="btn"]:focus {
    outline: 2px solid #0394FF; }

/* General */
/* Layout */
#dc .container-fluid {
  padding-left: 0; }

.side-menu {
  width: 215px;
  width: 21.5rem; }
  .side-menu nav {
    margin-top: 15px;
    margin-top: 1.5rem;
    margin-left: 15px;
    margin-left: 1.5rem; }

.main-content {
  margin-left: 240px;
  margin-left: 24rem; }

@media only screen and (min-width: 544px) {
  .main-content {
    margin-left: 250px;
    margin-left: 25rem; } }
@media only screen and (min-width: 768px) {
  .side-menu {
    width: 250px;
    width: 25rem; }
    .side-menu nav {
      margin-top: 36px;
      margin-top: 3.6rem;
      margin-left: 20px;
      margin-left: 2rem; }

  .main-content {
    margin-left: 300px;
    margin-left: 30rem; } }
/* Content General */
#dc .indent1 {
  margin-left: 36px;
  margin-left: 3.6rem; }

.space {
  display: block;
  height: 100px;
  height: 10rem; }

#dc ul {
  margin-bottom: 15px;
  margin-bottom: 1.5rem; }

a span.cicon-external-link {
  padding-left: 10px;
  padding-left: 1rem;
  display: inline-block; }

.display-block {
  display: block; }

.inline-text-caution {
  margin-left: 36px;
  margin-left: 3.6rem;
  color: #5d6066; }
  .inline-text-caution span {
    margin-right: 5px;
    margin-right: 0.5rem; }

/* Heading override */
@media only screen and (min-width: 1200px) {
  #dc h2,
  #dc h3 {
    max-width: 800px;
    max-width: 80rem; } }
/* Function */
/* Accordion 2 */
button.accordion2 {
  border: 0;
  background-color: transparent;
  color: #c8102e;
  text-decoration: underline;
  margin-left: 10px;
  margin-left: 1rem; }
  button.accordion2:hover {
    text-decoration: none; }

#dc div.accordion2 {
  padding: 15px;
  padding: 1.5rem;
  border: 3px solid #c9cacc; }
  #dc div.accordion2 button.close-btn {
    margin: -10px -10px 0 0;
    margin: -1rem -1rem 0 0; }

/* Modal window */
.modalWindow header {
  display: block;
  width: 100%;
  position: absolute;
  z-index: 99;
  height: 44px;
  height: 4.4rem;
  margin-left: -20px;
  margin-left: -2rem;
  margin-top: -25px;
  margin-top: -2.5rem;
  background-color: #f6f6f6; }
  .modalWindow header .cui.btn-md.primary-text {
    margin: 0 15px !important; }

/* Modal CSS override */
@media only screen and (min-width: 992px) {
  .coc-pl .cui.blocker {
    padding: 0 20px 0 20px !important; }

  .coc-pl .cui.modalWindow {
    max-height: 100%; } }
/* Menu */
.side-menu {
  background-color: #f6f6f6;
  border-right: 1px solid #dbdcdd;
  height: 100vh;
  position: fixed; }

#dc nav a {
  width: 215px;
  width: 21.5rem; }
  #dc nav a:hover, #dc nav a:active {
    background-color: #ffffff; }
  #dc nav a span:before {
    padding-right: 10px;
    padding-right: 1rem; }
#dc nav a,
#dc nav a:visited {
  text-decoration: none;
  color: #4b4f55;
  border-left: 3px solid transparent; }
#dc nav a:active,
#dc nav .nav a.active {
  border-left: 3px solid #c8102e; }

.icon-performance {
  background: url(../img/performance-3F474E.png) no-repeat transparent; }

.icon-sharepoint {
  background: url(../img/sharepoint-3F474E.png) no-repeat transparent; }

.icon-performance,
.icon-sharepoint {
  display: inline-block;
  width: 27px;
  width: 2.7rem;
  height: 16px;
  height: 1.6rem;
  background-size: 16px 16px;
  background-size: 1.6rem 1.6rem; }

/* Override Footer CSS */
#dc footer {
  width: auto;
  margin-left: -35px;
  margin-left: -3.5rem; }
  #dc footer .quicklink-wrap {
    padding-left: 36px;
    padding-left: 3.6rem;
    padding-right: 36px;
    padding-right: 3.6rem; }

.coc-pl .coc-footer.cui p {
  max-width: 600px;
  max-width: 60rem; }

@media only screen and (min-width: 768px) {
  #dc footer {
    margin-left: -50px;
    margin-left: -5rem; }
    #dc footer .quicklink-wrap {
      padding-left: 50px;
      padding-left: 5rem;
      padding-right: 50px;
      padding-right: 5rem; } }
/* Contents */
/* Open and close all button */
#toggle-open-close-list > span > span {
  margin-right: 5px;
  margin-right: 0.5rem; }
#toggle-open-close-list #open-all {
  display: none; }
#toggle-open-close-list.collapsed #close-all {
  display: none; }
#toggle-open-close-list.collapsed #open-all {
  display: inline-block; }

form {
  margin-left: 15px;
  margin-left: 1.5rem; }

.coc-pl input {
  margin-bottom: 17px;
  margin-bottom: 1.7rem;
  margin-top: 13px;
  margin-top: 1.3rem; }

#dc label {
  margin-left: 5px;
  margin-left: 0.5rem;
  margin-right: 5px;
  margin-right: 0.5rem;
  font-weight: normal; }

button.cicon- {
  width: 44px;
  width: 4.4rem;
  height: 44px;
  height: 4.4rem;
  background-color: transparent;
  border: none; }
  button.cicon-:hover {
    background-color: #f6f6f6;
    border-radius: 4px;
    border-radius: 0.4rem; }
  button.cicon-:before {
    content: "\e03f"; }
  button.cicon-.collapsed:before {
    content: "\e03e"; }

#dc .resource-list {
  background-color: #fff;
  padding-left: 15px;
  padding-left: 1.5rem; }
  #dc .resource-list li {
    list-style-type: none !important;
    line-height: 30px;
    line-height: 3rem; }

/* Modal contents */
.content-info {
  margin-left: 36px;
  margin-left: 3.6rem;
  margin-bottom: 30px;
  margin-bottom: 3rem; }

/*# sourceMappingURL=styles.css.map */
