/* Contents */

/* Open and close all button */
#toggle-open-close-list {
	> span > span {@include rem(margin-right, 5px);}
	#open-all {display:none;}
	
	&.collapsed {
		#close-all {
			display:none;}
		#open-all {display:inline-block;}} }

form {@include rem(margin-left, 15px);}

.coc-pl input {
	@include rem(margin-bottom, 17px);
	@include rem(margin-top, 13px);}

#dc label {
	@include rem(margin-left, 5px);
	@include rem(margin-right, 5px);
	font-weight: normal;}

button.cicon- {
	@include rem(width, 44px);
	@include rem(height, 44px);
	background-color: transparent;
	border: none;
	
		&:hover {
			background-color: $coc-secondary-10L;
			@include rem(border-radius, 4px);}
		
		&:before {
			content: "\e03f";}
	
		&.collapsed:before {
			content: "\e03e";}}

#dc .resource-list {
	background-color: #fff;
	@include rem(padding-left, 15px);

		li {
			list-style-type: none !important;
			@include rem(line-height, 30px);}}

/* Modal contents */
.content-info {
	@include rem(margin-left, 36px);
	@include rem(margin-bottom, 30px);
}

