/* Function */

/* Accordion 2 */
button.accordion2 {
	border: 0;
	background-color: transparent;
	color: $coc-main;
	text-decoration: underline;
	@include rem(margin-left, 10px);
	
	&:hover {
		text-decoration: none;}}
#dc div.accordion2 {
	@include rem(padding, 15px);
	border: 3px solid $coc-secondary-7L;

	button.close-btn {
		@include rem(margin, -10px -10px 0 0);} }

/* Modal window */
.modalWindow header {
	display: block;
	width: 100%;
	position: absolute;
	z-index: 99;
	@include rem(height, 44px);
	@include rem(margin-left, -20px);
	@include rem(margin-top, -25px);
	background-color: $coc-secondary-10L;

	.cui.btn-md.primary-text {margin:0 15px !important;}}


/* Modal CSS override */

@media only screen and (min-width: 992px) {
  .coc-pl .cui.blocker {
    padding: 0 20px 0 20px !important;}
	
	.coc-pl .cui.modalWindow {
		max-height: 100%;}}


