/* General */

/* Layout */
#dc .container-fluid {
	padding-left:0;}

.side-menu {
	@include rem(width, 215px);
	nav {
		@include rem(margin-top, 15px);
		@include rem(margin-left, 15px);}}
	
.main-content {
	@include rem(margin-left, 240px);}

@media only screen and (min-width: $breakpoint-xs){
	.main-content {
		@include rem(margin-left, 250px);}}

@media only screen and (min-width: $breakpoint-sm){
	.side-menu {
		@include rem(width, 250px);
		nav {
			@include rem(margin-top, 36px);
			@include rem(margin-left, 20px);}}
	
	.main-content {
	@include rem(margin-left, 300px);}}
	
	
/* Content General */	
#dc .indent1 {@include rem(margin-left, 36px);}

.space {
	display: block; 
	@include rem(height, 100px);}

#dc ul {
	@include rem(margin-bottom, 15px);}

a span.cicon-external-link {
	@include rem(padding-left, 10px);
	display: inline-block;}

.display-block {display:block;}

// Caution
.inline-text-caution {
	@include rem(margin-left, 36px);
	color:$coc-secondary-1L;

	span {
		@include rem(margin-right, 5px);}}

/* Heading override */
@media only screen and (min-width: 1200px){
	#dc {
		h2,
		h3 {
			@include rem(max-width, 800px);}} }