/* Menu */

.side-menu {
	background-color:$coc-secondary-10L;
	border-right: 1px solid $coc-secondary-8L;
	height: 100vh;
	position:fixed;}


#dc {
	nav {
			a {
				@include rem(width, 215px);
				
					&:hover,
					&:active {
						background-color: $white;}
					
					span:before {
						@include rem(padding-right, 10px);}}
			a,
			a:visited{
				text-decoration: none;
				color: $coc-secondary;
				border-left: 3px solid transparent;}
			a:active,
			.nav a.active {
				border-left: 3px solid $coc-main;}}}

.icon-performance {
	background: url(../img/performance-3F474E.png) no-repeat transparent;}

.icon-sharepoint {
	background: url(../img/sharepoint-3F474E.png) no-repeat transparent;}

.icon-performance,
.icon-sharepoint {
	display: inline-block;
	@include rem(width, 27px);
	@include rem(height, 16px);
	@include rem(background-size, 16px 16px);}


/* Override Footer CSS */
#dc footer {
	width: auto;
	@include rem(margin-left, -35px);
	
	.quicklink-wrap {
		@include rem(padding-left, 36px);
		@include rem(padding-right, 36px);
	}
}
.coc-pl .coc-footer.cui p {
	@include rem(max-width, 600px);
}
@media only screen and (min-width: $breakpoint-sm){
	#dc footer {
		@include rem(margin-left, -50px);

		.quicklink-wrap {
			@include rem(padding-left, 50px);
			@include rem(padding-right, 50px);} } }