.coc-pl{

/* -------------------------------------------------------
   START OF BUTTONS _buttons.scss
   ------------------------------------------------------- */
   	button.cui:focus{
		-webkit-box-shadow: 0px 0px 2px 2px $btn-blue-glow, -4px 7px 11px rgba(0, 0, 0, 0.35); 
		-moz-box-shadow: 0px 0px 2px 2px $btn-blue-glow, -4px 7px 11px rgba(0, 0, 0, 0.35);
		box-shadow: 0px 0px 2px 2px $btn-blue-glow, -4px 7px 11px rgba(0, 0, 0, 0.35);
		box-shadow: 0px 0px 3px 3px $btn-blue-glow;
		outline-style: none; /* 1st */
		outline: 2px solid #0394FF\9; /* 2nd -- IE8 hack  */		
   	}
   	
	.cui[class*="btn"] {
		display: inline-block;
		margin: 4px 2px;
		@include rem(height, 40px);
		color: #606060;
		color: $btn-text-color;
		line-height: 1;
		font-family: $font-primary;
		font-weight: 400;
		white-space: nowrap;
		@include rem(font-size, 14px);
		@include rem(padding, 12px 12px*$btn-pad-ratio);
		border: 2px solid $coc-secondary-5L; 

		text-align: center;
		text-decoration: none;
		cursor: pointer;
		vertical-align: top;
		@include prefix(border-radius, $default-border-radius, webkit moz);
		@include prefix(user-select, none, webkit moz);
		@include prefix(transition, all 0.2s ease, webkit moz ms o);
		

		&:hover {
			/*@include prefix(box-shadow, 0px 7px 11px rgba(0,0,0,0.15), webkit moz);*/
			@include prefix(transition, all 0.2s ease, webkit moz ms o);
			outline-style: none;
			-webkit-box-shadow: none;
				-moz-box-shadow: none;
					-box-shadow: none;
		}
		&:focus {  // cannot use the prefix mixin here as mutiple dropshodows are added
			-webkit-box-shadow: 0px 0px 2px 2px $btn-blue-glow, -4px 7px 11px rgba(0, 0, 0, 0.35); 
			   -moz-box-shadow: 0px 0px 2px 2px $btn-blue-glow, -4px 7px 11px rgba(0, 0, 0, 0.35);
			        box-shadow: 0px 0px 2px 2px $btn-blue-glow, -4px 7px 11px rgba(0, 0, 0, 0.35);
			        box-shadow: 0px 0px 3px 3px $btn-blue-glow;
			outline-style: none; /* 1st */
			outline: 2px solid #0394FF\9; /* 2nd -- IE8 hack  */
		}
		&:active {
			background: darken($white,8);
			@include prefix(transition, all 0s ease, webkit moz ms o);
			outline-style: none;
			-webkit-box-shadow: none;
				-moz-box-shadow: none;
					-box-shadow: none;
		}

		// PRIMARY Buttons ////////////////////////////////////////////
		&.primary {
			background: $coc-main;
			/*@include linear-gradient($coc-main, darken($coc-main,6) );*/
			color: #fff;
			border: 2px solid $coc-main; // for IE8 
			border: 2px solid $coc-main-lighter;
			
			&:hover {
				background: darken($coc-main,0);
				background: $coc-main-lighter;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}

			&:active {
				background: $coc-main;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;
				
			}
		}

		&.primary-fluid {
			background: $coc-main;
			/*@include linear-gradient($coc-main, darken($coc-main,6) );*/
			color: #fff;
			border: 2px solid $coc-main; // for IE8 
			border: 2px solid $coc-main-lighter;
			width: 100%;
			
			&:hover {
				background: darken($coc-main,0);
				background: $coc-main-lighter;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}

			&:active {
				background: $coc-main;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}
		}





		// GHOST Buttons ////////////////////////////////////////////
		&.primary-ghost {
			background: transparent;
			/*@include linear-gradient($coc-main, darken($coc-main,6) );*/
			color: $coc-main;
			border: 2px solid $coc-main; 
			
			&:hover {
				background: $coc-main-lighter;
				color: #fff;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}

			&:active {
				background: $coc-main;
				color: #fff;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}
		}

		&.primary-ghost-fluid {
			background: transparent;
			/*@include linear-gradient($coc-main, darken($coc-main,6) );*/
			color: $coc-main;
			border: 2px solid $coc-main; 
			width: 100%;
			
			&:hover {
				background: $coc-main-lighter;
				color: #fff;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}

			&:active {
				background: $coc-main;
				color: #fff;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}
		}

		&.secondary-ghost {
			background: rgba(0, 0, 0, 0.1);
			background: transparent;
			color: $coc-text-default;
			border: 2px solid $coc-secondary;
			border: 2px solid $coc-secondary-lighter;
			
			&:hover {
				background: $coc-secondary;
				color: $coc-secondary-9L;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}

			&:active {
				background: $coc-secondary-5D;
				color: $coc-secondary-9L;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}
		}

		&.secondary-ghost-fluid {
			background: rgba(0, 0, 0, 0.1);
			background: transparent;
			/*@include linear-gradient($coc-main, darken($coc-main,6) );*/
			color: $coc-text-default;
			border: 2px solid $coc-secondary;
			border: 2px solid $coc-secondary-lighter;
			width: 100%;
			
			&:hover {
				background:$coc-secondary;
				color: $coc-secondary-9L;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}

			&:active {
				background: $coc-secondary-5D;
				color: $coc-secondary-9L;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}
		}



		// Border Buttons, Solid Background
		&.primary-solid {
			background: #ffffff;
			/*@include linear-gradient($coc-main, darken($coc-main,6) );*/
			color: $coc-main;
			border: 2px solid $coc-main;
			
			&:hover {
				background: $coc-main-lighter;
				color: #fff;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}

			&:active {
				background: $coc-main;
				color: #fff;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}
		}

		&.primary-solid-fluid {
			background: #ffffff;
			/*@include linear-gradient($coc-main, darken($coc-main,6) );*/
			color: $coc-main;
			border: 2px solid $coc-main; 
			width: 100%;
			
			&:hover {
				background: $coc-main-lighter;
				color: #fff;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}

			&:active {
				background: $coc-main;
				color: #fff;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}
		}

		&.secondary-solid {
			background: #ffffff;
			color: $coc-text-default;
			border: 2px solid $coc-secondary;
			border: 2px solid $coc-secondary-lighter;
			
			&:hover {
				background: $coc-secondary;
				color: $coc-secondary-9L;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}

			&:active {
				background: $coc-secondary-5D;
				color: $coc-secondary-9L;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}
		}

		&.secondary-solid-fluid {
			background: #ffffff;
			/*@include linear-gradient($coc-main, darken($coc-main,6) );*/
			color: $coc-text-default;
			border: 2px solid $coc-secondary;
			border: 2px solid $coc-secondary-lighter;
			width: 100%;
			
			&:hover {
				background: $coc-secondary;
				color: $coc-secondary-9L;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}

			&:active {
				background: $coc-secondary-5D;
				color: $coc-secondary-9L;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}
		}

		// Disabled state
		&.disabled, &[disabled] {
			background: $coc-secondary-8L;
			/*background: rgba(222, 225, 226 ,0.9);*/
			/*color: $coc-secondary-4L;*/
			color:  $btn-text-color-disabled;
			@include prefix(box-shadow, none, webkit moz);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000 endColorstr=#000000);
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000000, endColorstr=#000000)";
			cursor: not-allowed;
		}

		&.disabled-fluid, &[disabled] {
			background: $coc-secondary-8L;
			/*background: rgba(222, 225, 226 ,0.9);*/
			/*color: $coc-secondary-4L;*/
			color:  $btn-text-color-disabled;
			@include prefix(box-shadow, none, webkit moz);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000 endColorstr=#000000);
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000000, endColorstr=#000000)";
			cursor: not-allowed;
		}

		&.disabled-fluid {
			width: 100%;
		}


	//OLD button classes
		&.success {
			background: $success;
			/*@include linear-gradient($success, darken($success,6) );*/
			color: #fff;
			&:active {
				background: darken($success,8);
				outline-style: none;
			}
		}
		&.warning {
			background: $warning;
			/*@include linear-gradient($warning, darken($warning,4) );*/
			color: #fff;
			&:active {
				background: darken($warning,8);
				outline-style: none;
			}
		}
		&.danger {
			background: $danger;
			/*@include linear-gradient($danger, darken($danger,7) );*/
			color: #fff;
			&:active {
				background: darken($danger,8);
				outline-style: none;
			}
		}



		// Text buttons
		&.primary-text {
			box-shadow: none;
			background: transparent;
			border: 2px solid transparent;
			@include rem(padding-left, 10px);
			@include rem(padding-right, 10px);
			color: $coc-main;

			&:hover {
				background: $coc-secondary-9L;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}
			&:focus {
				/*@include prefix( box-shadow, 0px 0px 5px 2px $btn-blue-glow, webkit moz);
				Using the global focus class with the red glowing border
				*/
				background: $coc-secondary-9L;
			   -webkit-box-shadow: 0px 0px 2px 2px $btn-blue-glow, -4px 7px 11px rgba(0, 0, 0, 0.35); 
			   -moz-box-shadow: 0px 0px 2px 2px $btn-blue-glow, -4px 7px 11px rgba(0, 0, 0, 0.35);
			   box-shadow: 0px 0px 2px 2px $btn-blue-glow, -4px 7px 11px rgba(0, 0, 0, 0.35);
			   box-shadow: 0px 0px 3px 3px $btn-blue-glow;
			outline-style: none; /* 1st */
			outline: 2px solid #0394FF\9; /* 2nd -- IE8 hack  */
				/*outline-style: 1px solid green;*/
			}

			&:active {
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;				
			}

			// Disabled text buttons

			&.disabled, &[disabled] {
				color:  $btn-text-color-disabled;
				background: transparent;
				/*@include prefix( box-shadow, none, webkit moz);*/
			}
			
		}

		&.secondary-text {
			text-decoration: underline;
			box-shadow: none;
			background: transparent;
			border: 1px solid transparent;
			@include rem(padding-left, 10px);
			@include rem(padding-right, 10px);
			color: $coc-text-default;

			&:hover{
				background: $coc-secondary-9L;; // for IE 8
				/*background: rgba(0,0,0,0.05);*/
				background: $coc-secondary-9L;
				text-decoration: none;
				outline-style: none;
				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;			
			}
			&:focus {
				/*@include prefix( box-shadow, 0px 0px 5px 2px $btn-blue-glow, webkit moz);
				Using the global focus class with the red glowing border
				*/
				background: $coc-secondary-9L;
				text-decoration: none;			
				-webkit-box-shadow: 0px 0px 2px 2px $btn-blue-glow, -4px 7px 11px rgba(0, 0, 0, 0.35); 
			   -moz-box-shadow: 0px 0px 2px 2px $btn-blue-glow, -4px 7px 11px rgba(0, 0, 0, 0.35);
			        box-shadow: 0px 0px 2px 2px $btn-blue-glow, -4px 7px 11px rgba(0, 0, 0, 0.35);
			        box-shadow: 0px 0px 3px 3px $btn-blue-glow;
			outline-style: none; /* 1st */
			outline: 2px solid #0394FF\9; /* 2nd -- IE8 hack  */

			}
			&:active {
				outline-style: none;
				text-decoration: none;

				-webkit-box-shadow: none;
					-moz-box-shadow: none;
						-box-shadow: none;				
			}

			// Disabled text buttons

			&.disabled, &[disabled] {
				color:  $btn-text-color-disabled;
				background: transparent;
				@include prefix( box-shadow, none, webkit moz);
			}
			
		}
		
		// Buttons with icons

		& [class*="icon"].left {
			
			@include rem(margin, 0 6px 0 0);
		}
		& [class*="icon"].right {
			
			@include rem(margin, 0 0 0 6px);
		}
		// 100% width buttons 

		&.block {
			width: 100%;
		}
	}


	button.cui.btn{
		/*outline:0;
		remove the default outline on the button element -- cui.btn uses a box-shadow instead for :focus*/
	}
	// Small Button
	.cui.btn-sm {
		@include rem(padding, 5px 7px*$btn-pad-ratio);
		@include rem(font-size, 14px);
		@include rem(height, 30px);
		font-weight: 600;

		&:hover {
			outline-style: none;
			-webkit-box-shadow: none;
				-moz-box-shadow: none;
					-box-shadow: none;		
		}

		&:active {
			outline-style: none;
			-webkit-box-shadow: none;
				-moz-box-shadow: none;
					-box-shadow: none;			
		}
	}

	// Medium Button
	.cui.btn-md {
		@include rem(padding, 8px 10px*$btn-pad-ratio);
		@include rem(font-size, 16px);
		@include rem(height, 37px);
		font-weight: 600;

		&:hover {
			outline-style: none;
			-webkit-box-shadow: none;
				-moz-box-shadow: none;
					-box-shadow: none;		
		}

		&:active {
			outline-style: none;
			-webkit-box-shadow: none;
				-moz-box-shadow: none;
					-box-shadow: none;			

		}
	}

	// Large button
	.cui.btn-lg {
		@include rem(padding, 11px 18px*$btn-pad-ratio);
		@include rem(font-size, 20px);
		@include rem(height, 47px);
		font-weight: 600;

		&:hover {
			outline-style: none;
			-webkit-box-shadow: none;
				-moz-box-shadow: none;
					-box-shadow: none;		
		}

		&:active {
			outline-style: none;
			-webkit-box-shadow: none;
				-moz-box-shadow: none;
					-box-shadow: none;			
		}
	}

	// Extra Large button
	.cui.btn-xl {
		@include rem(padding, 11px 18px*$btn-pad-ratio);
		@include rem(font-size, 22px);
		@include rem(height, 55px);
		font-weight: 600;

		&:hover {
			outline-style: none;
			-webkit-box-shadow: none;
				-moz-box-shadow: none;
					-box-shadow: none;		
		}

		&:active {
			outline-style: none;
			-webkit-box-shadow: none;
				-moz-box-shadow: none;
					-box-shadow: none;			
		}
	}

	// Icon button
	.cui.icon-only  {
		@include rem(padding, 7px 0);
		@include rem(font-size, 0);
		@include rem(height, 40px);
		@include rem(width, 40px);
		span.cicon{font-size: 24px !important; display: inline;}

		&:focus {
			outline-style: none;
		}
		&:active {
			outline-style: none;
			-webkit-box-shadow: none;
				-moz-box-shadow: none;
					-box-shadow: none;		
		}
		
		&.btn-sm {
			@include rem(padding, 5px 0);
			@include rem(font-size, 0);
			@include rem(height, 28px);
			@include rem(width, 28px);
			span.cicon{font-size: 16px !important; display: inline;}

		}
		&.btn-md {
			/* Defaults to .cui.icon-only class */
		}
		&.btn-lg {
			@include rem(padding, 10px 0);
			@include rem(font-size, 0);
			@include rem(height, 50px);
			@include rem(width, 50px);
			span.cicon{font-size: 30px !important; display: inline;}

		}

	}

	// Mega button with icons
	.cui.btn-mega {
		@include rem(padding, 16px);
		@include rem(font-size, 16px);
		/*@include rem(width, 160px);*/
		@include rem(height, 160px);
		line-height: 1.5;


		& [class*="icon"] {
			display: block;
			font-size: 400%;
			&.top{
				@include rem(margin, 0 0 10px);
			}
			&.bottom{
				@include rem(margin, 10px 0 0);
			}
		}

		&:hover {
			background: darken($coc-main,0);
			background: $coc-main-lighter;
			outline-style: none;
			-webkit-box-shadow: none;
				-moz-box-shadow: none;
					-box-shadow: none;
			}

		&:active {
			background: $coc-main;	
			outline-style: none;
			-webkit-box-shadow: none;
				-moz-box-shadow: none;
					-box-shadow: none;		
			}
	}


	.ie8 .cui[class*="btn"]:focus{
		outline: 2px solid #0394FF;
	}

}