
/* -------------------------------------------------------
   START OF footer.scss
   ------------------------------------------------------- */
.coc-pl{
    .coc-footer.cui{

      width:100%;
      background: $coc-secondary-2D;
      color:$coc-secondary-10L;
      @include rem(font-size,16px);

      h3,p{color:$coc-secondary-7L; @include rem(font-size,16px);}
      p.h3{font-weight:normal; @include rem(font-size,20px); text-align: left;}


      #google_translate_element.cui{
        label{font-size: 0;}
        @include rem(font-size,14px);
        display: block;

        .goog-te-gadget{
          color:$coc-secondary-10L;
        }

        div, select, img,p{
          display: inline-block;
          font-size:14px !important;


        }
         select{
          @include prefix(border-radius, $default-border-radius, webkit moz);

          /*-webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;*/
          @include rem(height,30px);
          @include rem(width,170px);
          border: 2px solid #5b6770;
          border: 2px solid rgba(91, 103, 112, 0.8);
          background: url(../../../img/sort.svg) 96% / 10% no-repeat #eee;
          color:$coc-secondary-2D;
          padding:0 $padbase/4;
          text-align: left;
          margin-right:$padbase/4;

          option{@include rem(font-size,14px);}
          &:focus{ color:$coc-secondary-2D; }
         }

        a{color:$coc-secondary-10L;text-decoration: none; @include rem(font-size,16px);
                &:hover{text-decoration:underline;}}

        img{
          width:54px !important;
          width:5.4rem !important;
          height: auto !important;
          vertical-align: middle;
        }

      }


      .footer-group{
        @include rem(max-width,992px);
        margin:0 auto;
        min-height: 10px;
        @include rem(font-size,16px);

        .footerOtherlinks{
          a{@include rem(font-size,16px);}
          ul{
            margin:0;

          &.socialLinkSeclist{
            @include rem(padding, 0 15px);
          }
            li{
              line-height: 2;
              list-style-type: none;
              text-align: left;
              a{color:$coc-secondary-10L;text-decoration: none;@include rem(font-size,16px);
                &:hover{text-decoration:underline;}
                &:visited{color:$coc-secondary-5L;};
              }
            }
          }
        }

        .feedback{
          p{color:$coc-secondary-10L;}
          div > p{margin-top: 0};

          background:transparent;
          border:1px solid $coc-secondary-2L;
          @include rem(padding,$padbase);
          
          
          div{
              padding:0;
              margin:0;
          }
        }

        .footerlinks{
          ul{
            margin:0 auto;
            text-align: center;

            li{
                  text-align: left;
              list-style-type: none;
              display: inline-block;
              @include rem(padding, 0 $padbase/4 0 $padbase/12);
              line-height: 1;
              border-right:2px solid $coc-secondary-10L;
              font-weight: 400;
              &:last-child{ border-right:none;}
              a{color:$coc-secondary-10L;text-decoration: none;@include rem(font-size,16px);
                &:hover{text-decoration:underline;}}
            }
          }

        }

        .footerCopyright{
          p{
           
            text-align: center;
            margin:0 auto;
          }
        }
      }
    }
  @media only screen and (min-width : $breakpoint-xxxs) {
    .coc-footer.cui{
       .footer-group{
        @include rem(padding, 0 0 $padbase/2); 

         #google_translate_element.cui{
            @include rem(padding, $padbase/2 $padbase/2 $padbase/2 $padbase/2);
            text-align: left;
            
           .goog-te-gadget{
            text-align: left;
            



             & > div {display: block !important;}
           }

            .targetLanguage{display: block; @include rem(margin-bottom,$padbase/4);}
     
          }

          .footerOtherlinks{
            margin:0;
            @include rem(padding,$padbase/4);
            border-top:1px solid $coc-secondary-2L;

            &.borderNone{border-top:none;}
            .socialLinks{
              ul > span{ padding-left:0; }

              @include rem(margin-top,$padbase*2);
             
              .socialLinkSeclist{
                padding-left:15px !important;
                padding-left:1.5rem !important;
                display: block;
              }
            }
          }
          .feedback{

            text-align: center;
            @include rem(margin-top,$padbase);
            padding:$padbase $padbase/4 $padbase $padbase/4;

            /*padding:$padbase/4;*/

            border-top:1px solid $coc-secondary-2L;
            border-bottom:none;
            border-left:none;
            border-right:none;

            p{max-width: none;}

            button{float: none;}

          }
          .footerlinks{
            @include rem(padding,$padbase/4);
          }
          .footerCopyright{
            @include rem(padding,$padbase/2);
            p{
              @include rem(font-size,14px);
            }
          }
       }

    }
  }

  @media only screen and (min-width : $breakpoint-xxs) {
     .coc-footer.cui{
        .footer-group{
         #google_translate_element.cui{
            @include rem(padding, $padbase/2 $padbase/2 $padbase/2 $padbase/2);
          }

          .footerOtherlinks{
            &.borderNone{ @include rem(margin-bottom,$padbase); }
            .socialLinks{
             
             
              .socialLinkSeclist{
                
                
              }
          }

        }
      }
    }
  }

  @media only screen and (min-width : $breakpoint-xs) {
     .coc-footer.cui{
        .footer-group{
         #google_translate_element.cui{
            @include rem(padding, $padbase/2 $padbase/2 $padbase/2 $padbase/2);

            .goog-te-gadget{
            text-align: left;

             & > div {display: inline-block !important;}
           }


            .targetLanguage{display: inline-block; @include rem(margin-bottom,0);}

          }
        }
      }
  }

  @media only screen and (min-width : $breakpoint-sm) {
    .coc-footer.cui{
       .footer-group{
          @include rem(padding, 0 0 $padbase/4 0); 


        #google_translate_element.cui{
            @include rem(padding, $padbase/2);
          }


          .footerOtherlinks{
             @include rem(margin, 0);
             @include rem(padding, $padbase 0); 
             &.borderNone{ @include rem(margin-bottom,0); }

             .row{@include rem(padding-top, 0);}

            .socialLinks{
              @include rem(margin, 0);

             .socialLinkSeclist{
                padding-left:0px !important;
              }
            }
          }
          .feedback{
          margin:0;
           padding:$padbase/2 !important;
           border:1px solid $coc-secondary-2L;
           text-align: left;
           p.h3{@include rem(font-size,16px); font-weight: 600;}

           button{
            vertical-align: middle;
           }

          }
          .footerlinks{
            @include rem(margin-top,$padbase*2);
          }
          .footerCopyright{
           p{
              @include rem(font-size,12px);
            }
          }
       }

    }
  }  

  @media only screen and (min-width : $breakpoint-md) {
    .coc-footer.cui{
        .footer-group{
          @include rem(padding, 0 0 $padbase*3 0); 

        #google_translate_element.cui{
            @include rem(padding,$padbase $padbase/2);
          }
          .footerOtherlinks{
            
        }
        .feedback{
              button{margin:0 12%;}
            }
      }
    }

  }

  @media only screen and (min-width : $breakpoint-lg) {
        .coc-footer.cui{
        .footer-group{
          @include rem(padding, $padbase*2 0); 


      }
    }    
  }
  @media only screen and (min-width : $breakpoint-xl) {


      .coc-footer.cui{
        .footer-group{
          @include rem(padding, $padbase*3 0); 
      }
    } 
}
}
/*Footer end*/
