// _mixins.scss


@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// FUNCTION FOR ADDING OPACTIY TO OLDER BROWSERS
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity="+$opacity-ie+")"; // for IE 8 -- 1st
  filter: alpha(opacity=$opacity-ie); // for older IE -- 2nd
}

// FUNCTION FOR PREFIXING ADDING VENDOR PREFIXES
@mixin prefix($property, $value, $vendors: webkit moz ms o) {
      @if $vendors {
        @each $vendor in $vendors {
          #{"-" + $vendor + "-" + $property}: #{$value};
        }
      }
      #{$property}: #{$value};
}

// FUNCTION FOR ADDING PX AND REM VALUES -- HTML FONT-SIZE NEEDS TO BE SET TO 62.5%
@function parseInt($n) { 
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px : (); 
  $rem: (); 

  @each $value in $values { 

    @if $value == 0 or $value == auto { 
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);
      $val: parseInt($value);

      @if $unit == "px" { 
        $px : append($px,  $value);
        $rem: append($rem, ($val / 10 + rem));
      }

      @if $unit == "rem" { 
        $px : append($px,  ($val * 10 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {     
    #{$property}: $px;  
  } @else {
    #{$property}: $px;  
    #{$property}: $rem; 
  }
}

//////////// Gradients ///////////
@mixin linear-gradient($fromColor, $toColor) { // only uses Hex values
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); // Saf4+, Chrome 
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); // Chrome 10+, Saf5.1+, iOS 5+ 
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); // FF3.6 
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); // IE10 
  //background-image:      -o-linear-gradient(top, $fromColor, $toColor); // Opera 11.10+ 
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$fromColor endColorstr=$toColor);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr="+$fromColor+", endColorstr="+$toColor+")";
}

// Transitions



// Box shadows


// Center anything vertically
// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}





/////////// Flexbox ///////////
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}


//  disable
//.container {
//  @include flexbox();
//}

//.item {
//  @include flex(1 200px);
//  @include order(2);
//}


