//MAIN CORPORATE THEME FOR CALGARY.CA

// Add the CPS color inside of conditional

$use-cps-color:false !default;

$coc-main: 				#c8102e;
$coc-main-lighter:		rgba(200, 16, 46 ,0.8);

//Link color for calgary.ca
$coc-link:				#c8102e;
$coc-visited:			#780519;
$coc-light-link:		#f6f6f6;
$coc-light-visited:		#bdc2c6;

@if $use-cps-color
{
	$coc-main:          #004685;
	$coc-main-lighter:	rgba(0, 70, 133 ,0.8);

	//Link color for CPS
	$coc-link:			#004685;
	$coc-visited:		#004685;
}

$white:						#ffffff;
$black:						#000000;

$red:						#c8102e;
$success:					#4C8C2B;
$warning:					#E57200;
$danger:					#c8102e; 

// Button variables
$btn-text-color: rgba(0,0,0,0.6);
$btn-text-color-disabled: rgba(0,0,0,0.25);
$btn-blue-glow: #60bbfe;
$btn-blue-outline: #60bbfe;
$btn-red-glow: #ff0000;
$visited:		#780519;


$coc-secondary:             #4b4f55;
$coc-secondary-lighter:     rgba(75, 79, 85 , 0.8);


// COC lighter shades of 
// Main corporate grey: #4b4f55
$coc-secondary-1L:			#5d6066;
$coc-secondary-2L:			#6f7277;
$coc-secondary-3L:			#818388;
$coc-secondary-4L:			#939599;
$coc-secondary-5L:			#a5a7aa;
$coc-secondary-6L:			#b7b9bb;
$coc-secondary-7L:			#c9cacc;
$coc-secondary-8L:			#dbdcdd;
$coc-secondary-9L:			#ededee;
$coc-secondary-10L:			#f6f6f6;//Lightest shade

// COC darker shades of secondary
$coc-secondary-1D:			#191919;//Darkets shade
$coc-secondary-2D:			#333333;
$coc-secondary-3D:			#4c4c4c;
$coc-secondary-4D:			#666666;
$coc-secondary-5D:			#7f7f7f;
$coc-secondary-6D:			#999999;
$coc-secondary-7D:			#b2b2b2;
$coc-secondary-8D:			#cccccc;
$coc-secondary-9D:			#e5e5e5;

$coc-background-default:	#ffffff;
$coc-text-default:          #333333;
$coc-lighttext-default: 	#f6f6f6;

// COC the secondary colour palettey
$coc-secondary-orange:		#E57200;
$coc-secondary-yellow:		#FFC600;
$coc-secondary-green:		#4C8C2B;
$coc-secondary-blue:		#0085AD;
$coc-secondary-dark-blue:	#003865;
$coc-secondary-purple:		#642F6C;
$coc-secondary-pink:		#AC145A;

//coc the secondary colour palette additional shades

$coc-secondary-orange-L:	#ED8B00;
$coc-secondary-orange-D:	#DC4405;
$coc-secondary-yellow-L:	#FEDB00;
$coc-secondary-yellow-D:	#F2A900;
$coc-secondary-green-L:		#78BE20;
$coc-secondary-green-D:		#44693D;
$coc-secondary-blue-L:		#00a3e0;
$coc-secondary-blue-D:		#005670;
$coc-secondary-dark-blue-L:	#006298;
$coc-secondary-dark-blue-D:	#041E42;
$coc-secondary-purple-L:	#93328E;
$coc-secondary-purple-D:	#3C1053;
$coc-secondary-pink-L:		#CE0F69;
$coc-secondary-pink-D:		#6C1D45;


//coc Safety and metallic palette 
$coc-secondary-green-safety:#009639;
$coc-secondary-green-pedestrian:#C4D600;
$coc-secondary-blue-access: #0057B8;

