
// Default Variables

$font-primary: 					"Open Sans", Helvetica, Arial, Verdana, sans-serif;
$font-secondary: 				"Noto Sans", "Helvetica Neue", "Arial", sans-serif;
$default-font-size:				16; // do not add px, em or rem. The suffix will be added by the mixin
$default-font-weight:			400;
$font-weight-light:				100;
$default-border-radius:			4px;
$default-padding: 				12px;
$default-box-sizing:			border-box;


// Button variables
$btn-pad-ratio: 1.5;  // Golden Ratio (approx 1.618... ) is used for left and right button padding

//Spacing
$space: 24px;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-quad : $space*4;
$space-half : $space/2;

$padbase : 36px; //36px based off of NVI logo unit
$padbase-half : $padbase/2; //36px based off of NVI logo unit
$padbase-third : $padbase/3;
$padbase-fourth : $padbase/4;

$pad : 10px;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

//Breakpoints -- Same as Bootstrap
$breakpoint-xxxs: 200px;
$breakpoint-xxs: 320px;
$breakpoint-xs: 544px;  //update it to bootstrap 4 breakpoints, it was 480px before
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;	
$breakpoint-xl: 1680px;	

//font scale based on breakpoint
$ratio-sm: 0.9;
$ratio-xs: 0.8;
$ratio-xxs: 0.7;

$base-font-size: 16px;
$base-line-height: 24px;
$measure: 760px;
$text-max-width: 700px;
