.cicon-mailbox {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe007;');
}
.cicon-circle-x-thin {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe016;');
}
.cicon-close-thin-large {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe039;');
}
.cicon-plus-thin {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2ea;');
}
.cicon-minus-thin {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2eb;');
}
.cicon-exclamation-diamond {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe07e;');
}
.cicon-layers {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0ab;');
}
.cicon-map {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0ac;');
}
.cicon-location-target {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0ae;');
}
.cicon-facebook-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe1af;');
}
.cicon-twitter-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe1b2;');
}
.cicon-linkedin-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe1b5;');
}
.cicon-flickr-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe1b7;');
}
.cicon-youtube-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe1bb;');
}
.cicon-citynews-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe1bc;');
}
.cicon-google-plus-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe1bf;');
}
.cicon-tumblr-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe1c3;');
}
.cicon-map-square {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe21a;');
}
.cicon-map-square-o {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe21b;');
}
.cicon-map-pointer-square {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe27e;');
}
.cicon-map-pointer-square-o {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe27f;');
}
.cicon-calendar-event {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe21c;');
}
.cicon-cemetery {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe21d;');
}
.cicon-atraction {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe21e;');
}
.cicon-visitor-info {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe21f;');
}
.cicon-community-center {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe220;');
}
.cicon-social-dev-centre {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe221;');
}
.cicon-civic-partners-development {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe222;');
}
.cicon-casg {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe223;');
}
.cicon-community-safety {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe224;');
}
.cicon-new-central-library {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe225;');
}
.cicon-park-development {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe226;');
}
.cicon-recreation-development {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe227;');
}
.cicon-after-school-program {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe228;');
}
.cicon-library {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe229;');
}
.cicon-post-secondary {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe22a;');
}
.cicon-school {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe22b;');
}
.cicon-court {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe22c;');
}
.cicon-ems-station {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe22d;');
}
.cicon-fire-stn {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe22e;');
}
.cicon-health-clinic {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe22f;');
}
.cicon-police-service {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe230;');
}
.cicon-traffic-camera {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe231;');
}
.cicon-historic-resource {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe232;');
}
.cicon-building-permit {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe233;');
}
.cicon-development-permit {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe234;');
}
.cicon-dp-public-notices {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe235;');
}
.cicon-loc {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe237;');
}
.cicon-subdivision {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2ec;');
}
.cicon-lot-dimension {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe238;');
}
.cicon-offleash-dog {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe239;');
}
.cicon-arena {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe23a;');
}
.cicon-art-centre {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe23b;');
}
.cicon-city-park {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe23c;');
}
.cicon-golf-course {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe23d;');
}
.cicon-indoor-pool {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe23e;');
}
.cicon-outdoor-pool {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe23f;');
}
.cicon-skate-park {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe240;');
}
.cicon-leisure-centre {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe241;');
}
.cicon-circle-l {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe242;');
}
.cicon-circle-l-x-thin {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe243;');
}
.cicon-construction-detours-base {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe244;');
}
.cicon-construction-detours {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe245;');
}
.cicon-construction-base {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe246;');
}
.cicon-construction {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe247;');
}
.cicon-ctrain-stn {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe248;');
}
.cicon-residential-parking-polygon {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe249;');
}
.cicon-incidents {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe24a;');
}
.cicon-plow-sander {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2d2;');
}
.cicon-holiday-tree-drop-off {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe24b;');
}
.cicon-recycle-depot {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe24c;');
}
.cicon-electronics-recycling {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe24d;');
}
.cicon-landfill {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe24e;');
}
.cicon-haz-drop-off {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe24f;');
}
.cicon-leaf-drop-off {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe250;');
}
.cicon-bus-stop {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe251;');
}
.cicon-brt-stop {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe252;');
}
.cicon-demolished-historic-resource {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe253;');
}
.cicon-lot-easement {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe254;');
}
.cicon-community-line {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe255;');
}
.cicon-community-line-s {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe256;');
}
.cicon-ward-line {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe257;');
}
.cicon-ward-line-s {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe258;');
}
.cicon-map-dot-line {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe259;');
}
.cicon-map-line-thin {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe25a;');
}
.cicon-map-line {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe25b;');
}
.cicon-bikeway-line {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe25c;');
}
.cicon-ctrain-lines-base {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe25d;');
}
.cicon-ctrain-lines {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe25e;');
}
.cicon-map-location {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe25f;');
}
.cicon-map-location-o {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe260;');
}
.cicon-map-location-inner-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe261;');
}
.cicon-map-pointer {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe262;');
}
.cicon-map-pointer-o {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe263;');
}
.cicon-map-pointer-inner-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe264;');
}
.cicon-aqua-openwater {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe265;');
}
.cicon-wading-pool {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe266;');
}
.cicon-aqua-flatwater {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe267;');
}
.cicon-sailing {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe268;');
}
.cicon-rowing {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe269;');
}
.cicon-volleyball {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe26a;');
}
.cicon-tennis {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe26b;');
}
.cicon-tennis-in {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe26c;');
}
.cicon-soccer {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe26d;');
}
.cicon-soccer-in {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe26e;');
}
.cicon-spray-park {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe26f;');
}
.cicon-shooting-in {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe270;');
}
.cicon-lacrosse {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe271;');
}
.cicon-cricket {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe272;');
}
.cicon-baseball {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe273;');
}
.cicon-biking {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe274;');
}
.cicon-bowling {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe275;');
}
.cicon-bowling-in {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe276;');
}
.cicon-boxing {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe277;');
}
.cicon-curling {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe278;');
}
.cicon-gymnasium {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe279;');
}
.cicon-horseshoe {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe27a;');
}
.cicon-animal-service {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2ed;');
}
.cicon-animal-service-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2ee;');
}
.cicon-parks-recreation {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2ef;');
}
.cicon-parks-recreation-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2f0;');
}
.cicon-building-planning {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2f1;');
}
.cicon-building-planning-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2f2;');
}
.cicon-transportation {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2f3;');
}
.cicon-transportation-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2f4;');
}
.cicon-environment {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2f5;');
}
.cicon-environment-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2f6;');
}
.cicon-bylaws-public-safety {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2f7;');
}
.cicon-bylaws-public-safety-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2f8;');
}
.cicon-taxes-property-assessment {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2f9;');
}
.cicon-taxes-property-assessment-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2fa;');
}
.cicon-social-services {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2fb;');
}
.cicon-social-services-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2fc;');
}
.cicon-cleaning-services {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2fd;');
}
.cicon-cleaning-services-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2fe;');
}
.cicon-beauty-body-services {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2ff;');
}
.cicon-beauty-body-services-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe300;');
}
.cicon-production-research {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe301;');
}
.cicon-production-research-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe302;');
}
.cicon-massage-services {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe303;');
}
.cicon-massage-services-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe304;');
}
.cicon-food-trucks {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe305;');
}
.cicon-food-trucks-outline {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe306;');
}
.cicon-al-a {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe27c;');
}
.cicon-al-b {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2d3;');
}
.cicon-al-c {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2d4;');
}
.cicon-al-d {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2d5;');
}
.cicon-al-e {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2d6;');
}
.cicon-al-f {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2d7;');
}
.cicon-al-g {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2d8;');
}
.cicon-al-h {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe27b;');
}
.cicon-al-i {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2d9;');
}
.cicon-al-j {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2da;');
}
.cicon-al-k {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2db;');
}
.cicon-al-l {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2dc;');
}
.cicon-al-m {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2dd;');
}
.cicon-al-n {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2de;');
}
.cicon-al-o {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2df;');
}
.cicon-al-p {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe27d;');
}
.cicon-al-q {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2e0;');
}
.cicon-al-r {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2e1;');
}
.cicon-al-s {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2e2;');
}
.cicon-al-t {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2e3;');
}
.cicon-al-u {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2e4;');
}
.cicon-al-v {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2e5;');
}
.cicon-al-w {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2e6;');
}
.cicon-al-x {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2e7;');
}
.cicon-al-y {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2e8;');
}
.cicon-al-z {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe2e9;');
}

