@font-face {
  font-family: 'cicon';
  src:  url('../fonts/cicon.eot?mqgn1a');
  src:  url('../fonts/cicon.eot?mqgn1a#iefix') format('embedded-opentype'),
    url('../fonts/cicon.ttf?mqgn1a') format('truetype'),
    url('../fonts/cicon.woff?mqgn1a') format('woff'),
    url('../fonts/cicon.svg?mqgn1a#cicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cicon-"], [class*=" cicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cicon-mailbox:before {
  content: "\e007";
}
.cicon-circle-x-thin:before {
  content: "\e016";
}
.cicon-close-thin-large:before {
  content: "\e039";
}
.cicon-plus-thin:before {
  content: "\e2ea";
}
.cicon-minus-thin:before {
  content: "\e2eb";
}
.cicon-exclamation-diamond:before {
  content: "\e07e";
}
.cicon-layers:before {
  content: "\e0ab";
}
.cicon-map:before {
  content: "\e0ac";
}
.cicon-location-target:before {
  content: "\e0ae";
}
.cicon-facebook-circle:before {
  content: "\e1af";
}
.cicon-twitter-circle:before {
  content: "\e1b2";
}
.cicon-linkedin-circle:before {
  content: "\e1b5";
}
.cicon-flickr-circle:before {
  content: "\e1b7";
}
.cicon-youtube-circle:before {
  content: "\e1bb";
}
.cicon-citynews-circle:before {
  content: "\e1bc";
}
.cicon-google-plus-circle:before {
  content: "\e1bf";
}
.cicon-tumblr-circle:before {
  content: "\e1c3";
}
.cicon-map-square:before {
  content: "\e21a";
}
.cicon-map-square-o:before {
  content: "\e21b";
}
.cicon-map-pointer-square:before {
  content: "\e27e";
}
.cicon-map-pointer-square-o:before {
  content: "\e27f";
}
.cicon-calendar-event:before {
  content: "\e21c";
}
.cicon-cemetery:before {
  content: "\e21d";
}
.cicon-atraction:before {
  content: "\e21e";
}
.cicon-visitor-info:before {
  content: "\e21f";
}
.cicon-community-center:before {
  content: "\e220";
}
.cicon-social-dev-centre:before {
  content: "\e221";
}
.cicon-civic-partners-development:before {
  content: "\e222";
}
.cicon-casg:before {
  content: "\e223";
}
.cicon-community-safety:before {
  content: "\e224";
}
.cicon-new-central-library:before {
  content: "\e225";
}
.cicon-park-development:before {
  content: "\e226";
}
.cicon-recreation-development:before {
  content: "\e227";
}
.cicon-after-school-program:before {
  content: "\e228";
}
.cicon-library:before {
  content: "\e229";
}
.cicon-post-secondary:before {
  content: "\e22a";
}
.cicon-school:before {
  content: "\e22b";
}
.cicon-court:before {
  content: "\e22c";
}
.cicon-ems-station:before {
  content: "\e22d";
}
.cicon-fire-stn:before {
  content: "\e22e";
}
.cicon-health-clinic:before {
  content: "\e22f";
}
.cicon-police-service:before {
  content: "\e230";
}
.cicon-traffic-camera:before {
  content: "\e231";
}
.cicon-historic-resource:before {
  content: "\e232";
}
.cicon-building-permit:before {
  content: "\e233";
}
.cicon-development-permit:before {
  content: "\e234";
}
.cicon-dp-public-notices:before {
  content: "\e235";
}
.cicon-loc:before {
  content: "\e237";
}
.cicon-subdivision:before {
  content: "\e2ec";
}
.cicon-lot-dimension:before {
  content: "\e238";
}
.cicon-offleash-dog:before {
  content: "\e239";
}
.cicon-arena:before {
  content: "\e23a";
}
.cicon-art-centre:before {
  content: "\e23b";
}
.cicon-city-park:before {
  content: "\e23c";
}
.cicon-golf-course:before {
  content: "\e23d";
}
.cicon-indoor-pool:before {
  content: "\e23e";
}
.cicon-outdoor-pool:before {
  content: "\e23f";
}
.cicon-skate-park:before {
  content: "\e240";
}
.cicon-leisure-centre:before {
  content: "\e241";
}
.cicon-circle-l:before {
  content: "\e242";
}
.cicon-circle-l-x-thin:before {
  content: "\e243";
}
.cicon-construction-detours-base:before {
  content: "\e244";
}
.cicon-construction-detours:before {
  content: "\e245";
}
.cicon-construction-base:before {
  content: "\e246";
}
.cicon-construction:before {
  content: "\e247";
}
.cicon-ctrain-stn:before {
  content: "\e248";
}
.cicon-residential-parking-polygon:before {
  content: "\e249";
}
.cicon-incidents:before {
  content: "\e24a";
}
.cicon-plow-sander:before {
  content: "\e2d2";
}
.cicon-holiday-tree-drop-off:before {
  content: "\e24b";
}
.cicon-recycle-depot:before {
  content: "\e24c";
}
.cicon-electronics-recycling:before {
  content: "\e24d";
}
.cicon-landfill:before {
  content: "\e24e";
}
.cicon-haz-drop-off:before {
  content: "\e24f";
}
.cicon-leaf-drop-off:before {
  content: "\e250";
}
.cicon-bus-stop:before {
  content: "\e251";
}
.cicon-brt-stop:before {
  content: "\e252";
}
.cicon-demolished-historic-resource:before {
  content: "\e253";
}
.cicon-lot-easement:before {
  content: "\e254";
}
.cicon-community-line:before {
  content: "\e255";
}
.cicon-community-line-s:before {
  content: "\e256";
}
.cicon-ward-line:before {
  content: "\e257";
}
.cicon-ward-line-s:before {
  content: "\e258";
}
.cicon-map-dot-line:before {
  content: "\e259";
}
.cicon-map-line-thin:before {
  content: "\e25a";
}
.cicon-map-line:before {
  content: "\e25b";
}
.cicon-bikeway-line:before {
  content: "\e25c";
}
.cicon-ctrain-lines-base:before {
  content: "\e25d";
}
.cicon-ctrain-lines:before {
  content: "\e25e";
}
.cicon-map-location:before {
  content: "\e25f";
}
.cicon-map-location-o:before {
  content: "\e260";
}
.cicon-map-location-inner-circle:before {
  content: "\e261";
}
.cicon-map-pointer:before {
  content: "\e262";
}
.cicon-map-pointer-o:before {
  content: "\e263";
}
.cicon-map-pointer-inner-circle:before {
  content: "\e264";
}
.cicon-aqua-openwater:before {
  content: "\e265";
}
.cicon-wading-pool:before {
  content: "\e266";
}
.cicon-aqua-flatwater:before {
  content: "\e267";
}
.cicon-sailing:before {
  content: "\e268";
}
.cicon-rowing:before {
  content: "\e269";
}
.cicon-volleyball:before {
  content: "\e26a";
}
.cicon-tennis:before {
  content: "\e26b";
}
.cicon-tennis-in:before {
  content: "\e26c";
}
.cicon-soccer:before {
  content: "\e26d";
}
.cicon-soccer-in:before {
  content: "\e26e";
}
.cicon-spray-park:before {
  content: "\e26f";
}
.cicon-shooting-in:before {
  content: "\e270";
}
.cicon-lacrosse:before {
  content: "\e271";
}
.cicon-cricket:before {
  content: "\e272";
}
.cicon-baseball:before {
  content: "\e273";
}
.cicon-biking:before {
  content: "\e274";
}
.cicon-bowling:before {
  content: "\e275";
}
.cicon-bowling-in:before {
  content: "\e276";
}
.cicon-boxing:before {
  content: "\e277";
}
.cicon-curling:before {
  content: "\e278";
}
.cicon-gymnasium:before {
  content: "\e279";
}
.cicon-horseshoe:before {
  content: "\e27a";
}
.cicon-animal-service:before {
  content: "\e2ed";
}
.cicon-animal-service-outline:before {
  content: "\e2ee";
}
.cicon-parks-recreation:before {
  content: "\e2ef";
}
.cicon-parks-recreation-outline:before {
  content: "\e2f0";
}
.cicon-building-planning:before {
  content: "\e2f1";
}
.cicon-building-planning-outline:before {
  content: "\e2f2";
}
.cicon-transportation:before {
  content: "\e2f3";
}
.cicon-transportation-outline:before {
  content: "\e2f4";
}
.cicon-environment:before {
  content: "\e2f5";
}
.cicon-environment-outline:before {
  content: "\e2f6";
}
.cicon-bylaws-public-safety:before {
  content: "\e2f7";
}
.cicon-bylaws-public-safety-outline:before {
  content: "\e2f8";
}
.cicon-taxes-property-assessment:before {
  content: "\e2f9";
}
.cicon-taxes-property-assessment-outline:before {
  content: "\e2fa";
}
.cicon-social-services:before {
  content: "\e2fb";
}
.cicon-social-services-outline:before {
  content: "\e2fc";
}
.cicon-al-a:before {
  content: "\e27c";
}
.cicon-al-b:before {
  content: "\e2d3";
}
.cicon-al-c:before {
  content: "\e2d4";
}
.cicon-al-d:before {
  content: "\e2d5";
}
.cicon-al-e:before {
  content: "\e2d6";
}
.cicon-al-f:before {
  content: "\e2d7";
}
.cicon-al-g:before {
  content: "\e2d8";
}
.cicon-al-h:before {
  content: "\e27b";
}
.cicon-al-i:before {
  content: "\e2d9";
}
.cicon-al-j:before {
  content: "\e2da";
}
.cicon-al-k:before {
  content: "\e2db";
}
.cicon-al-l:before {
  content: "\e2dc";
}
.cicon-al-m:before {
  content: "\e2dd";
}
.cicon-al-n:before {
  content: "\e2de";
}
.cicon-al-o:before {
  content: "\e2df";
}
.cicon-al-p:before {
  content: "\e27d";
}
.cicon-al-q:before {
  content: "\e2e0";
}
.cicon-al-r:before {
  content: "\e2e1";
}
.cicon-al-s:before {
  content: "\e2e2";
}
.cicon-al-t:before {
  content: "\e2e3";
}
.cicon-al-u:before {
  content: "\e2e4";
}
.cicon-al-v:before {
  content: "\e2e5";
}
.cicon-al-w:before {
  content: "\e2e6";
}
.cicon-al-x:before {
  content: "\e2e7";
}
.cicon-al-y:before {
  content: "\e2e8";
}
.cicon-al-z:before {
  content: "\e2e9";
}

