<div class="cui modalWindow blocker fullheight" id="mobile-device-suppot" style="display:none;">
		<header class="modal-close-area">
			<a class="cui btn-md primary-text" href="#" rel="modal:close"><span class="sub-nav">Close</span><span class="cicon-times"></span></a>
	 </header>

	 <div class="cui modalbody modalWindow fullheight">
		 <article>
			 <h1>Coming soon</h1>
		 </article>
		</div>
</div><!-- End: Modal -->